.container1 {
    background-image: linear-gradient(#00877C, #00000040, #00000040, #00000040);
    height: 100%;
}

.container {
    background: #00000040;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
}

.centercls {
    display: flex;
    justify-content: center;
    margin-top: 148px;
    margin-bottom: 66.47px;
}

.passcls {
    margin-top: 159px;
}

.bodymaincls {
    background: #F4F4F4;
    padding: 0px;
    width: 744px;
    border-radius: 10px;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

.bodycls {
    padding: 24px 40px;
}

.pass_background {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(Blur.png);
    flex: none;
    order: 1;
    flex-grow: 0;
}

.pass_card {
    display: flex;
    flex-direction: column;
    background: #F4F4F4;
    overflow: hidden;
}

.pass_container {
    background: #FFFFFF;
    border-radius: 8px;
    padding: 40px;
    align-self: stretch;
}

.pass_headersec h2 {
    font-family: 'Invention';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #000000;
}

.pass_headersec p {
    font-family: 'Invention';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #333333;
    padding-top: 8px;
}

.pass_headersec a {
    color: #00857C !important;
    font-family: 'Invention';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    text-decoration-line: underline;
}

.password {
    padding-top: 16px;
    margin-bottom: 0;
}

.pass_reqsectionmain {
    padding-top: 16px;
    font-family: 'Invention';
}

.pass_reqsection {
    background: #F7F7F7;
    padding: 16px;
}

.pass_reqsection h2 {
    font-family: 'Invention';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
}

.flexdiv {
    display: flex;
    align-items: center;
    padding-top: 8px;
}

.flexdiv1 {
    display: flex;
    align-items: center;
    padding-top: 16px;
}

.flexdiv span,
.flexdiv1 span {
    font-family: 'Invention';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #333333;
}

.closeiconcls {
    margin-right: 6px;
    width: 20px;
    height: 20px;
}

.btnmaincls {
    display: flex;
    justify-content: end;
    padding-top: 32px;
}

.btnmainclspass {
    display: flex;
    justify-content: end;
    padding-top: 24px;
}

.nextbtnclass {
    height: 50px;
    padding: 16px;
    border-radius: 5px;
    border: 2px solid #00857C;
    font-size: 14px;
    line-height: 18px;
    font-family: 'Invention';
    font-weight: 700;
    font-style: normal;
    text-align: center;
    text-decoration: none;

}

.cancelbu {
    margin-right: 7px;
    color: #00857C;
    display: flex;
    align-items: center;

}

.nextbtncls {
    padding: 16px;
    height: 50px;
    background: #A4A4A4;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: 'Invention';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
}

.btnenablecls {
    background: #00857C !important;
}

.errormsgcls {
    color: #DB281A;
    font-style: normal;
    font-weight: 500;
    font-family: 'Invention';
    font-size: 12px;
    vertical-align: top;
    margin-top: 16px;
}

.closebtnmain {
    display: flex;
    justify-content: end;
    padding-bottom: 24px;
}

.closeiconclss {
    width: 38px;
    height: 38px;
    border-radius: 5px;
    border: 2px solid #00857C;
    cursor: pointer;
    text-decoration: none;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.closeiconclss img {
    width: 16px;
    height: 16px;
}

.passwordUpdateImage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

.passwordUpdateImage img {
    width: 51px;
    height: 51px;
}
.job {
	text-align: end;
    font-size: 14px;
    font-family: 'Invention';
	position: fixed; 
    bottom:0%;
    width:100%;
	padding-right: 24px;
	padding-bottom: 24px;
}
@media screen and (max-width: 767px) {
    .bodymaincls {
        width: auto;
        margin: 0px 16px;
    }

    .pass_container {
        width: auto;
        padding: 16px;
    }

    .centercls {
        margin-top: 50px;
    }

    .bodycls {
        padding: 16px;
    }

    .pass_headersec h2 {
        font-size: 18px;
        line-height: 27px;
        text-align: left;
    }

    .pass_headersec p {
        font-size: 16px;
        line-height: 24px;
        text-align: left;
    }
    .password{
        padding-top: 32px;
    }
    .flexdivtwo{
        align-items: flex-start;
        padding-top: 10px;
    }
    .flexdivthree{
        align-items: self-end;
    }
    .flexdiv1{
        align-items: self-end;
    }
    .job{
	    position: inherit !important;
	}
}