*{
    font-family: 'Invention';
}

.filter-modal {
	padding: 3rem 0 3rem 0;
	width: 72%;
	/* max-width: 80rem; */
}

.mainmodel-print {
    position: relative;
    max-width: 1090px;
    min-height: 621px;
    height: 621px;
    padding: 32px;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;
    background: #FFFFFF;
    border-radius: 0px !important;
}

.filter-header {
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 14px 0px;
}

.filter-header-txt {
    font-family: 'Invention';
    font-size: 24px;
    font-weight: 500;
    line-height: 31px;
    color: #005C56;
    text-transform: math-auto;
	display: flex;
	flex-direction: column;
	gap: 3px;
}

.closeiconclick {
    cursor: pointer;
}

.print-bd {
    font-family: 'Invention';
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #333333;
    max-height: 575px;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding-bottom: 110px;
}

.address-section {
    width: 492px;
    min-height: 160px;
    /* min-height: 246px; */
    flex-shrink: 0;
    /* padding: 20px; */
    /* border-radius: 5px; */
    border: var(--Size-Line-Width-lineWidth, 1px) solid #E1E1E1;
    background: #FFF;
    color: var(--Colors-Neutral-colorTextBase, #000);
    font-family: 'Invention';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    padding: 40px 140px 37px 33px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.address-section-additional {
    width: 492px;
    min-height: 160px;
    /* min-height: 246px; */
    flex-shrink: 0;
    /* padding: 20px; */
    /* border-radius: 5px; */
    border: var(--Size-Line-Width-lineWidth, 1px) solid #E1E1E1;
    background: #FFF;
    color: var(--Colors-Neutral-colorTextBase, #000);
    font-family: 'Invention';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    padding: 40px 140px 37px 33px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.primDefaultCls {
    /* border-radius: 5px; */
    border: var(--Size-Line-Width-lineWidth, 1px) solid #E1E1E1;
    background: #FFF;
    height: 40px;
    display: flex;
    align-items: center;
    text-decoration-line: none;
    padding: 20px;
    justify-content: space-between;
    color: #757575;
    font-family: 'Invention';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    text-transform: math-auto;

}

.defaultCls {
    /* border-radius: 5px;  */
    max-width: 492px;
    border: var(--Size-Line-Width-lineWidth, 1px) solid #E1E1E1;
    background: #FFF;
    height: 40px;
    display: flex;
    align-items: center;
    color: #00857C;
    font-family: 'Invention';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    text-decoration-line: underline;
    padding: 20px;
    justify-content: space-between;
    cursor: pointer;
    text-transform: math-auto;
}

.iconsCls {
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.popup-actions {
    width: 100%;
    height: 76px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFF;
    padding: 0px 32px 0px 34px;
    box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.15);
}

.dr-form_btnGroup {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: flex-start;
    align-items: left;
}

.other-add-wrapper{
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
}

.header-sb-text{
	margin-top: 3px;
}

.new-address {
	color: #00857C;
	font-family: 'Invention';
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 21px;
	text-decoration-line: underline;
}

.add-radio{
    position: absolute;
    top: 0;
    left: 0;
    line-height: 1;
    padding: 5px 16px;
    margin: 0px;
}

/* Edit Popup */
.mainmodelcls {
    width: 475px;
    height: 569px;
    flex-shrink: 0;
    margin: auto;
    padding: 24px 32px 32px 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
	border-radius: 0px !important;
}

.collectionheadercls {
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
	align-items: center;
}

.collectionheadertxt {
    font-family: 'Invention';
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color: #005C56;
}

.closeiconclick {
    cursor: pointer;
}

.collectionbodytxt {
    font-family: 'Invention';
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding-bottom: 14px;
    color: #333333;
}

.collectionfootercls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkbox{
    display: flex;
    gap: 11.66px;
    align-items: center;
}

.error{
    color: rgb(150, 15, 15);
    font-family: 'Invention';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    margin-bottom: 8px;
}

.mb{
    display: none;
}
/* Edit Popup */


/* Smartphones (portrait) */
@media only screen and (max-width: 480px) {
	.filter-modal {
		padding: 0px;
		width: 100%;
		margin: 0px;
		flex-direction: row;
	}

	.mainmodel-print {
		padding: 20px 27px 0px 28px;
		background: #FFFFFF;
	}

    .mainmodelcls{
        width: 100%;
        height: 100vh;
        margin: 0px;
        padding-bottom: 13px;
    }

	.filter-header {
		padding-bottom: 8px;
		line-height: 32px;
	}

	.filter-header-txt {
		display: flex;
		flex-direction: column;
		gap: 10px;
		font-weight: 500;
	}

	.filter-header-txt span {
		font-weight: 400 !important;
		font-size: 16px;
	}

	.filter-btn-layout {
		width: 100%;
		height: 56px;
		flex-shrink: 0;
		background: #FFF;
		box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.08);
		justify-content: center;
		align-items: center;
		position: absolute;
		bottom: 0;
	}

	.address-section-additional,
	.address-section {
		padding: 43px 29px 0px 13px;
		font-size: 24px;
		max-width: 320px;
	}

	.popup-actions {
		height: 66px;
		position: fixed;
		justify-content: space-between;
		padding: 0px 24px;
	}

	.print-bd {
		padding-bottom: 70px;
		max-height: 500px;
	}

	.defaultCls {
		padding: 18px 15.92px;
	}

	.lt-button {
		width: 100%;
	}

	.collectionfootercls .lt-button {
        width: 155px;
    }

	.mbl-recipients-container {
		margin-left: 23px;
	}

	.checkboxmbl {
		display: flex;
		gap: 15px;
	}

	.inputclsmbl {
		display: flex;
		width: 326px;
		padding: 9.5px 12px;
		align-items: center;
		gap: 8px;
		border-radius: var(--Corner-Radius, 4px);
		border: var(--Size-Line-Width-lineWidth, 1px) solid var(--Colors-Neutral-colorTextBase, #000);
		background: var(--Neutral-White, #FFF);
		margin-bottom: 21px;
	}

    .mb{
        display: flex !important;
    }

    .wb{
        display: none;
    }

    .collectionfootercls{
        justify-content: center;
    }
}

/* Smartphones (landscape) */
@media only screen and (min-width: 481px) and (max-width: 767px) {
	
    .filter-modal {
        padding: 0px;
        width: 100%;
        margin: 0px;
        flex-direction: row;
    }

    .mainmodel-print {
        padding: 20px 27px 0px 28px;
        background: #FFFFFF;
    }

    .mainmodelcls{
        width: 100%;
        height: 100vh;
        margin: 0px;
        padding-bottom: 13px;
    }

    .filter-header {
        padding-bottom: 8px;
        line-height: 32px;
    }

    .filter-header-txt {
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-weight: 500;
    }

    .filter-header-txt span {
        font-weight: 400 !important;
		font-size: 16px;
    }

    .filter-btn-layout {
        width: 100%;
        height: 56px;
        flex-shrink: 0;
        background: #FFF;
        box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.08);
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
    }

    .address-section-additional,
    .address-section {
        padding: 43px 29px 0px 13px;
        font-size: 24px;
        max-width: 320px;
    }

    .popup-actions {
        height: 66px;
        position: fixed;
        justify-content: space-between;
        padding: 0px 24px;
    }

    .print-bd {
        padding-bottom: 70px;
		max-height: 500px;
    }

    .defaultCls {
        padding: 18px 15.92px;
    }

    .lt-button {
        width: auto;
    }

    .collectionfootercls .lt-button {
        width: 155px;
    }

    .mbl-recipients-container {
        margin-left: 23px;
    }

    .checkboxmbl {
        display: flex;
        gap: 15px;
    }

    .inputclsmbl {
        display: flex;
        width: 326px;
        padding: 9.5px 12px;
        align-items: center;
        gap: 8px;
        border-radius: var(--Corner-Radius, 4px);
        border: var(--Size-Line-Width-lineWidth, 1px) solid var(--Colors-Neutral-colorTextBase, #000);
        background: var(--Neutral-White, #FFF);
        margin-bottom: 21px;
    }

     .mb{
        display: flex !important;
    }

    .wb{
        display: none;
    }

    .collectionfootercls{
        justify-content: center;
    }
}

/* Tablets (portrait) */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
	.filter-modal {
        min-width: 46rem;
    }

    .filter-header-txt {
        line-height: 35px;
    }

    .address-section-additional, .address-section {
        padding: 43px 29px 0px 13px;
        font-size: 24px;
        max-width: 320px;
    }
	
	.print-bd{
		max-height: 500px;
	}
    
    .mb{
        display: none;
    }
}

/* Tablets (landscape) */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	.filter-modal {
        min-width: 46rem;
    }

	.mainmodel-print{
		padding: 28px;
	}

    .filter-header-txt {
        line-height: 35px;
    }

    .address-section-additional, .address-section {
        padding: 43px 29px 0px 13px;
        font-size: 24px;
		max-width: 320px;
    }

	.print-bd{
		max-height: 500px;
	}
    
    .mb{
        display: none;
    }
}