.button-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-align: right; /* Align the button to the right */
}
.information{
    color: #960F0F !important;
    margin-left: 84%;
  }
.next-button {
    margin-top: 10px;
    padding: 8px 16px;
    font-size: 14px;
    background-color:#00857C;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.next-button:hover {
    background-color:#00857C;
}
:host{
    --dxp-s-button-font-size: 14px !important;
    font-family: InventionRg;
}
.slds-medium-show {
    display: block;
    font-family: inventionRg;
}
:host {
    --dxp-s-button-font-size: 14px !important;
}

.requiredField label:after {
    content: " *";
    color: red;
}
.q-container {
    background-color: #fff;
    width: calc(100% - 190px);
    /*min-height: 350px;*/
    padding: 18px 18px 18px 18px;
    margin: 39px 747px 1px 41px;
    height: 78%;
    position: relative; 
}

.slds-table {
    border: 1px solid var(--slds-g-color-border-base-1, #e5e5e5);
}

.nextPrevBtn{
    width: 90px;
    height: 32px;
}
.skipBtn{
    height: 32px;
}
.btnCancelHover{
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    box-shadow: inset 0 0 0 0 #00857C;
}
.btnCancelHover:hover{
    box-shadow: inset 400px 0 0 0 #00857C;
    color: #fff;
}
.btnHover{
    color: #ffffff;
    letter-spacing: 0.75px;
}
.btnHover:not([disabled]){
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    box-shadow: inset 0 0 0 0 #005C55;
}
.btnHover:hover:not([disabled]){
    box-shadow: inset 400px 0 0 0 #005C55;
}
.btnHover:disabled:hover{
    background: #c9c7c5 !important;
    border: #c9c7c5 !important;
}
@media only screen and (max-width: 47.9375em) {
.q-container {
    width: 93%;
    min-height: 327px;
    padding: 12px 6px 20px 16px;
    margin: -9px 56px 50px 12px !important;
}
.information {
    color: #960F0F !important;
    margin-left: 68%;
    font-size: 10px;
}
}
@media only screen and (max-width: 910px) {
    /* .q-container {
        width: 150%;
        min-height: 282px;
        padding: 12px 6px 20px 16px;
        margin: 33px 56px 0px -28px !important;
    } */
    /* .information {
        color: #960F0F !important;
        margin-left: 75%;
        font-size: 10px;
    } */
    .slds-form-element__label {
        font-size: 10px !important;
        font-family: InventionRg !important;
        font-weight: bold;
        color: #303030 !important;
    }
    .nextPrevBtn {
        width: 69px;
        height: 26px;
    }
    .btnHover {
        color: #ffffff;
        letter-spacing: 0.75px;
        font-size: 12px;
    }
}

@media only screen and (max-width:767px){
    .padding-right{
        padding-right: var(--dxp-g-spacing-medium);
    }
}