.veeva-checkbox-flex-container {
    display:flex;
    flex-direction: column;
}

.slds-m-top_xx-small {
    display:flex;
    flex-direction: column;
}

.veeva-field-generic {
    padding: var(--lwc-spacingXxSmall, 0.25rem);
}