.THIS .slds-backdrop, .THIS .slds-modal {
    position: fixed;
}
.THIS .customCheckBoxClass .slds-form-element__control .slds-checkbox{
    display : inline-block !important;
}

.THIS .slds-form-element__legend{
    font-weight: 400;
}

.THIS .fieldrequired label:before { 
    content:"* ";
    color:red;
}

.THIS .formfieldborder {
    margin-right: 5%!important;
    border-top: 1px solid rgb(221, 219, 218);
    /*width: 45%!important;*/
}