.container{
	background-color: #E7E7E7;
	min-width: 100%;
	padding: 24px;
}

.mainDivCls{
	display: flex;
    justify-content: space-between;
    background: #F4F4D3;
    width: 100%;
    min-height: 38px;
	align-items: center;
}
.filterCls {

	border-radius: 12.5px;
    background: #00857C;
    width: auto;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    color: #FFF;
    font-family: 'Invention';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
	gap: 6px;
	cursor: pointer;
	height: 25px;
	padding-left: 10px;
    padding-right: 5px;
}

.catagoriesCls {
	display: flex;
	gap: 7px;
	background: #F4F4D3;
	flex-wrap: wrap;
    flex-grow: 1;
	align-items: center;
	padding-left: 14px;
    padding-top: 7px;
    padding-bottom: 6px;
}

.totalRecords {
	display: flex;
	color: var(--Colors-Neutral-colorTextBase, #000);
	font-family: 'Invention';
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 18px;
	justify-content: flex-end; /* Align text to the right within this element */
    white-space: nowrap; /* Prevent the text from wrapping */
	margin-right: 15px;
}
.breadcrumbs {
	padding-bottom: 18px;
}

.breadcrumb1 {
	color: #ADADAD;
	font-family: 'Invention';
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	cursor: pointer;
}

.breadcrumb2 {
	color: #070101;
	font-family: 'Invention';
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px;
	margin-left: 6px;
}

.headingcls {
	background: #FFF;
	height: 66px;
}

.headertext {
	color: #0B0000;
	font-family: 'Invention';
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px;
	margin: auto 0 auto 21px;
}

.tilelistview {
	margin: auto 0;
}

.tileicon {
	padding-right: 24px;
	cursor: pointer;
}

.listicon {
	padding-right: 18px;
	cursor: pointer;
}

.lastmodified {
	padding-right: 15px;
}

.maincontent {
	margin-top: 10px;
	display: flex;
}

.listviewcls {
	background: #FFF;
}

.tileviewcls {
	border-radius: 5px;
	border: 1px solid #E4E4E4;
	background: #FFF;
	margin-top: 8px;
	padding: 22px;
}

.tileviewpadding {
	padding-right: 12px;
    padding-bottom: 20px;
}

.cardtitle {
	min-height: 500px;
}

.collectionbtncls {
	display: flex;
    justify-content: end;
}

.bottompagination {
	padding-top: 15px;
}

/* Sidebar */

.sidebarbuttoncls {
	text-align: center;
    display: flex;
    padding: 8px;
    background: white;
    margin-right: 8px;
}
  
.tilepaginationcls {
	padding-left: 24px;
	width: 100%;
}

.margincls-tile {
	margin-left: -102px;
}

.width-sidebar {
	min-width: 268px;
	max-width: 268px;
}

.clearallcls {
	font-family: 'Invention';
	font-size: 14px;
	font-weight: 500;
	line-height: 18px;
	color: #00857C;
	text-decoration: underline;
	cursor: pointer;
	min-width: 58px;
	margin-left: 14px;
}

@media only screen and (min-width: 768px) and (max-width: 1025px) and (orientation: portrait) {
	.mainDivCls {
		display: flex;
		justify-content: space-between;
		background: #F4F4D3;
		min-height: 38px;
		align-items: center;
		margin-bottom: 0px;
		width: auto;
	}
	.tileviewcls {
		padding-left: 65px;
    	padding-top: 50px;
		margin-top: 0;
        gap: 51px;
        padding-right: 0px;
	}
	.tileviewpadding {
		padding-bottom: 42px;
	}
	.bottompagination {
		display: none;
	}
}

/* Mobile */
@media only screen and (max-width: 480px) {
	.breadcrumbs {
		padding-bottom: 4px;
	}
	.lastmodified {
		display: none;
	}
	.maincontent {
		margin-top: 8px;
		display: block;
	}
	.filter-modal {
        margin: 0px;
        height: 100vh;
        width: 100vw;
        padding: 0px;
        flex-direction: column;
    }
	.mainmodel-print {
        min-height: 100vh;
        padding: 0px;
    }
	.close-icon {
        position: absolute;
        top: 24px;
        right: 24px;
    }
	.filtertext {
		color: #00857C;
		font-size: 16px;
		line-height: 24px;
		font-weight: 500;
		align-items: center;
		text-decoration: underline;
	}
	.tilepaginationcls {
		padding-left: 0px;
		margin-top: 8px;
	}
	.filterbtnmaincls {
		height: 66px;
		background: white;
		display: flex;
		width: 175px;
	}
	.filterbtncls {
		display: flex;
		margin: auto;
		gap: 6px;
	}
	.tileviewpadding {
		padding-right: 0px;
		padding-bottom: 31px;
    	margin: auto;
	}
	.mainDivCls {
		margin-bottom: 0px;
	}
	.tileviewcls {
		margin-top: 0px;
		padding-top: 21px;
	}
	.bottompagination {
		display: none;
	}
}