.header_cls {
    font-family: 'Invention';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    
}

.status_bar {
    /* border: 1px solid #D8D8D8; */
    /* background-color: #D8D8D8; */
    /* width: 1px; */
    /* height: 1px; */
    width: 100%;
    height:100%;
}

.positioncls {
    /* position: absolute; */
    width: 100%;
}

.positioncls .border_cls:first-child {
    padding-top: 0 !important;
}
.positioncls .border_cls:last-child {
    /* padding-bottom: 0 !important;
    height: 1px;
    margin-bottom: 5rem; */
    border-left: 0;
}
.positioncls .border_cls:nth-last-child(2) {
    padding-bottom: 1rem;
    margin-bottom: -15px;
}

/* .subborder .subboxcls:first-child {
    padding-top: 0 !important;
}
.subborder .subboxcls:last-child {
    padding-bottom: 0 !important;
    height: 1px;
    margin-bottom: 5rem;
} */

.box_cls {
    width: 100%;
    padding: 20px 15px 20px 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 1px #e6e6e6;
    position: relative;
}

.greencircle, .subgreencircle {
    border: 2pt solid #00857C;
    width: 15px;
    height: 15px;
    border-radius: 30px;
    margin-left: -25px;
    position: absolute;
    background: white;
}

.border_cls, .subborder {
    border-left: 3px solid #D8D8D8;
    padding-bottom: 0px;
}

.box_cls:hover {
    box-shadow: 0 0px 20px #c7c7c7 !important;
}

.arrowstyle {
    cursor: pointer;
    background-color: white;
    border: 2px solid #00857C !important;
    border-radius: 5px !important;
    padding: 11px 8px;
}

.redmark {
    width: 10px;
    height: 10px;
    margin-top: 6px;
    background-color: #bf1f1f;
    border-radius: 20px;
    border: solid 1px #c93a3a;
}

/* .descriptioncls {
    font-size: 14.6px !important;   
    font-family: 'Invention' !important;
}

.box_cls {
    font-size: 14.6px !important;   
    font-family: 'Invention' !important;
} */

.subdiv {
    background: #F4F4F4;
    /* min-height: 15rem;    */
}

.time_cls {
    font-size: 12px;
}

.bcbox {
    cursor: pointer;
    font-family: 'Invention';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-decoration-line: underline;
}

.groupdiv {
    width: 93%;
}

.groupdiv .descriptioncls:first-child .subborder {
    padding-top: 0 !important;
}

.groupdiv .descriptioncls:last-child .subborder {
    padding-bottom: 0 !important;
    height: 1px;
    margin-bottom: 5rem;
}

.descriptioncls:last-child {
    height: 100%;
}
.descriptioncls:last-child .subdiv {
    height: 6rem;
}

/* .descriptioncls .slds-rich-text-editor__output span p{
    font-size: 15px !important;   
    font-family: 'Invention' !important;
} */



/* ===================== Mobile Screen =====================  */

/* Start Mobile Screen */

/* Mobile Screen */
@media screen and (max-width: 767px) {

    
    .positioncls {
        padding: 0px;
    }
    .positioncls .border_cls:first-child {
        padding-top: 5% !important;
    }
    .border_cls {
        padding-left: 0px;
        padding-top: 0px;  /*RT 02-03-2023 Bug_Mbl_015*/
        border-left: 0px solid #D8D8D8; /*RT 02-03-2023 Bug_Mbl_015*/
    }
}