.slds-popover_panel .slds-popover__header .header {
    padding: var(--lwc-spacingSmall);
}

.filter-details {
    display: flex;
    flex-direction: column;
    gap: var(--lwc-spacingMedium, 1rem);
    max-height: 40vh;
}