.q-container {
    background-color: #fff;
    width: calc(100% - 190px);
    min-height: 350px;
    padding: 9px 18px 18px 18px;
    margin: 15px 0px 12px 39px;
}

/*Button CSS*/
.nextPrevBtn{
    width: 90px;
    height: 32px;
}
.skipBtn{
    height: 32px;
}
.btnCancelHover{
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    box-shadow: inset 0 0 0 0 #00857C;
}
.btnCancelHover:hover{
    box-shadow: inset 400px 0 0 0 #00857C;
    color: #fff;
}
.btnHover{
    color: #ffffff;
    letter-spacing: 0.75px;
}
.btnHover:not([disabled]){
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    box-shadow: inset 0 0 0 0 #005C55;
}
.btnHover:hover:not([disabled]){
    box-shadow: inset 400px 0 0 0 #005C55;
}
.btnHover:disabled:hover{
    background: #c9c7c5 !important;
    border: #c9c7c5 !important;
}
/*Button CSS ends*/

/* .button-group {
    position: relative;
    margin: 5% 0 0 76%;
} */

/* .button_slide {
    color: #00857C;
    border: 1px solid #00857C;
    background: #FFF;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
    box-shadow: inset 0 0 0 0 #00857C;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    height: 32px;
    width: 72px;
    font-family: 'InventionRg';
}

.slide_right:hover {
    box-shadow: inset 400px 0 0 0 #00857C;
    color: #FFF;
}
.rbutton_slide {
    color: #00857C;
    border: 1px solid #00857C;
    background: #FFF;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
    box-shadow: inset 0 0 0 0 #00857C;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    height: 32px;
    width: 134px;
    font-family: 'InventionRg';
} */
.input-fields-container {
    width: 286px;
    margin-bottom: 10px;
    color: #808080;
    background-color: #808080;
}

.infoCls {
    font-family: 'InventionRg';
}
.section3 {
    font-family: 'InventionRg';
    padding-bottom: 6%;
}

@media only screen and (max-width: 900px) {
    .q-container {
        width: auto;
        min-height: 299px;
        padding: 12px 6px 20px 16px;
        margin: 0 12px 80px 12px !important;
    }
}
.slds-combobox_container .slds-dropdown {
    top: -200%; /* Adjust this value to control the distance it opens upwards */
    transform: translateY(0);
}