/* .container {
	padding: 16px;
}

@media only screen and (min-width: 64.0625em) {
	.layout {
		display: flex;
		gap: 24px;
	}
} */
/* .container-Class{
	width: 700px;
} */
.Tumor-container {
	overflow-x: auto;
	white-space: nowrap;
	display: flex;
	gap: 13px;
	flex-direction: column;

}


.tumar-card-content {
	background: #fff;
	border: 1px solid #e0e0e0;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	padding: 16px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 100%;
	min-width: 151px;
}

.tumor-type {

	padding: 24px 24px 32px 24px;
	flex-direction: column;
	align-items: flex-start;
	gap: 16px;
	flex: 1;
	border-radius: 5px;
	border: 1px solid var(--Neutral-Light-Gray, #E4E4E4);
	background: var(--Neutral-White, #FFF);
	margin-left: 38px;
	display: flex;
	width: 684px;
	/* height: 1092px; */
	/* padding: 24px 24px 941px 24px; */
	/* flex-direction: column; */
	/* align-items: flex-start; */
	/* gap: 16px; */
	flex-shrink: 0;
}

.card-content_pdf {
	background-color: rgba(88, 165, 142, 1);
}

.card-content_video {
	background-color: rgba(84, 147, 198, 1);
}

.card-content_customizable {
	background-color: rgba(212, 136, 6, 1);
}

.ArrowCls[disabled] {
	opacity: 0.5;
	pointer-events: none;
}


.ArrowCls {
	width: 50px;
	height: 40px;
	background: #ffffff;
	border-color: #F4F4F4;
	color: #00857C;
	display: flex;
	align-items: center;
	justify-content: center;
}

.tumorArrowCls {
	width: 50px;
	height: 40px;
	background: #ffffff;
	border-color: #F4F4F4;
	color: #00857C;
	display: flex;
	align-items: center;
	justify-content: center;
}

.ArrowCls .slds-icon-text-default {
	--slds-c-icon-color-foreground: #00857c;
}

.tumorArrowCls .slds-icon-text-default {
	--slds-c-icon-color-foreground: #00857c;
}

.navigation {
	display: none;
	gap: 24px;
	margin-top: -18px;
	margin-left: 42px;
	margin-bottom: 25px;

}

.navigations {
	display: none;
	gap: 24px;
	margin-top: -18px;
	margin-left: 27px;
	margin-bottom: 25px;

}

.newItemLayout {
	display: flex;
	align-items: center;
	width: 124px;
	text-align: center;
	justify-content: center;
	height: 19px;
	padding: var(--Space-Padding-paddingXXS, 4px) 12px;
	position: relative;
	/* left: 248px; */
	background: var(--Neutral-White, #FFF);
}

.newItemText {
	color: var(--Neutral-Dark-Gray, #555);
	font-feature-settings: 'liga' off, 'clig' off;
	font-family: Poppins;
	font-size: 10px;
	font-style: normal;
	font-weight: 700;
	line-height: 12px;
}

.containerCls {
	padding-bottom: 25px;
	background: #F4F4F4;
}

.layout {
	display: flex;
	gap: 23px;
	justify-content: space-between;
}

/* .bold-text {
		font-size: 14px;
		font-style: normal;
		font-weight: 700;
		line-height: 21px;
	} */

.bold-text {
	color: var(--Neutral-Dark-Text, #333);
	/* font-feature-settings: 'liga' off, 'clig' off; */
	font-family: 'Invention';
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: 21px;
}

.therapeutic-area {
	/* display: flex; */
	width: 684px;
	padding: 24px 24px 32px 24px;
	flex-direction: column;
	align-items: flex-start;
	gap: 16px;
	flex: 1;
	border-radius: 5px;
	border: 1px solid var(--Neutral-Light-Gray, #E4E4E4);
	background: var(--Neutral-White, #FFF);
	margin-left: 38px;
}

.therapeutic-areas {
	width: 804px;
	padding: 24px 24px 32px 24px;
	flex-direction: column;
	align-items: flex-start;
	gap: 16px;
	flex: 1;
	border-radius: 5px;
	border: 1px solid var(--Neutral-Light-Gray, #E4E4E4);
	background: var(--Neutral-White, #FFF);
	margin-left: 26px;

}

.layout1 {
	background: #f4f4f4;
	width: 1687px;
}

.topics-Class {
	width: 684px;
	padding: 24px 24px 32px 24px;
	flex-direction: column;
	align-items: flex-start;
	gap: 16px;
	flex: 1;
	border-radius: 5px;
	border: 1px solid var(--Neutral-Light-Gray, #E4E4E4);
	background: var(--Neutral-White, #FFF);
	margin-right: 38px;
}

.topics {
	flex: 1;
	display: flex;
	width: 684px;
	padding: 24px 24px 32px 24px;
	flex-direction: column;
	align-items: flex-start;
	gap: 16px;
	flex: 1;
	border-radius: 5px;
	border: 1px solid var(--Neutral-Light-Gray, #E4E4E4);
	background: var(--Neutral-White, #FFF);
}

.combobox-label {
	color: var(--Neutral-Black, var(--Colors-Neutral-colorTextBase, #000));
	/* font-feature-settings: 'liga'off, 'clig'off; */
	font-family: 'Invention';
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 27px;

}

.truncate-text {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 90%;
}

.tooltip-text {
	visibility: hidden;
	background-color: #fff;
	color: black;
	text-align: center;
	border-radius: 6px;
	padding: 5px;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	/* Position above the text */
	left: 85%;
	transform: translateX(-50%);
	white-space: nowrap;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
	width: 268px;
	height: 52px;
	text-wrap: wrap;
	margin-bottom: -100px;
}

.tooltip-container {
	position: relative;
	display: grid;
	cursor: pointer;
}

.tooltip-container:hover .tooltip-text {
	visibility: visible;
	opacity: 1;
}

.truncate {
	/* display: -webkit-box; */
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 1.5;
	max-height: 3em;
	width: 90%;
}

.threeDotsCls {
	color: #A4A4A4;
	margin-right: 7px;
}

.slds-button.slds-button_icon {
	color: #A4A4A4;
}


.viewCls {
	color: var(--Primary-Primary, #00857C);
	text-align: center;
	/* font-feature-settings: 'liga' off, 'clig' off; */
	font-family: 'Invention';
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 21px;
	text-decoration-line: underline;
}

.section-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 16px;
	margin-bottom: 16px;
}

.viewallbtn {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	gap: 5px;
}

.card-container {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.card {
	background: #fff;
	border: 1px solid #e0e0e0;
	border-radius: 8px;
	padding: 16px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 100%;
	min-width: 151px;
	box-shadow: 0px 2px 4px 0px rgba(85, 85, 85, 0.15);
}

.content-type {
	display: flex;
	height: 25px;
	padding: 0px 8px;
	justify-content: space-between;
	align-items: center;
	border-radius: 5px 0px 0px 0px;
	background: #58A58E;
	color: var(--Neutral-White, #FFF);
	/* font-feature-settings: 'liga'off, 'clig'off; */
	font-family: 'Invention';
	font-size: 10px;
	font-style: normal;
	font-weight: 700;
	line-height: 12px;

}

.card-content {
	display: flex;
	align-items: center;
	width: 100%;
}

.card-contents {
	display: flex;
	align-items: center;
	width: 100%;
}

.card-image {
	margin-right: 16px;
	flex-shrink: 0;
}

.cardImage {
	display: flex;
	width: 131px;
	padding: 16px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 0px 0px 0px 5px;
	border-right: var(--Size-Line-Width-lineWidth, 1px) solid var(--Neutral-Light-Gray, #E4E4E4);
	background: var(--Neutral-Ultra-Light-Gray, #F4F4F4);

}

.card-image img {
	width: 131px;
	height: auto;
	border-radius: 4px;
}

.card-body {
	flex-grow: 1;
	/* overflow: hidden; */
}

.card-body h3 {
	font-size: 16px;
	margin-bottom: 8px;
	color: #333;
	/* white-space: nowrap; */
	overflow: hidden;
	text-overflow: ellipsis;
}

.card-body p {
	margin: 4px 0;
	/* color: #666; */
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.card-body .expiry {
	color: #00a651;
	font-weight: bold;
}

.card-menu {
	position: relative;
}

.menu-button {
	background: none;
	border: none;
	font-size: 24px;
	color: #666;
	cursor: pointer;
	padding: 0;
}

.menu-content {
	position: absolute;
	right: 0;
	top: 100%;
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	z-index: 1000;
	width: 150px;
}

.menu-item {
	padding: 10px;
	cursor: pointer;
	border-bottom: 1px solid #E4E4E4;
}

.menu-item:last-child {
	border-bottom: none;
}

.menu-item:hover {
	background-color: #f0f0f0;
}

.dropdown.open .menu-content {
	display: block;
}

.BoldText {
	/* font-size: 20px;
			font-style: normal;
			font-weight: 700;
			line-height: 30px; */
	color: var(--Neutral-Black, var(--Colors-Neutral-colorTextBase, #000));

	font-family: 'Invention';
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 30px;
}

.normalText {
	color: var(--Neutral-Dark-Text, #333);
	/* font-feature-settings: 'liga' off, 'clig' off; */
	font-family: 'Invention';
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 18px;
}

.expirycls {
	color: var(--Primary-Primary, #00857C);
	/* font-feature-settings: 'liga' off, 'clig' off; */
	font-family: 'Invention';
	font-size: 10px;
	font-style: normal;
	font-weight: 700;
	line-height: 12px;
	/* 120% */
}




.mainmodelcls {
    height: 421px;
    margin: auto;
    padding: 32px;
    padding-bottom: 26px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.confirmModel {
    min-width: 552px;
    min-height: 206px;
    margin: auto;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cnfcollectionheadercls {
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
}


.cnfcollectionheadertxt {
    font-family: 'Invention';
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color: #005C56;
}

.cnfcollectionbodytxt {
    font-family: 'Invention';
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #333333;
    padding-bottom: 21px;
}

.collectionfootercls {
    display: flex;
    justify-content: space-between;
}


.collectionbuttoncls {
    display: flex;
}
.collectionheadertxt {
    font-family: 'Invention';
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color: #005C56;
}

.createnewtxt {
    font-family: 'Invention';
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    color: #00857C;
    text-decoration: underline;
    margin: auto 0;
    cursor: pointer;
}

.collectionbodytxt {
    font-family: 'Invention';
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding-bottom: 14px;
    color: #333333;
}


.closeiconclick {
    cursor: pointer;
}

.collectionheadercls {
    display: flex;
    justify-content: space-between;
    padding-bottom: 37px;
}

@media only screen and (min-width: 48em) and (max-width: 64em) {

	/* Layout container for tablet view */
	.layout {
		/* display: flex; */
		flex-direction: column;
		gap: 24px;
	}

	/* Ensure each card (therapeutic area and topics) takes full width */
	.therapeutic-area,
	.topics {
		width: 100%;
		padding: 16px;
		box-sizing: border-box;
	}

	.viewCls {
		font-weight: 700;
	}

	/* Card container - Stack cards vertically */
	.card-container {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	/* Card - Make sure each card takes full width */
	.card {
		max-width: 100%;
		min-width: 100%;
		padding: 12px;
		box-sizing: border-box;
		box-shadow: 0px 2px 4px 0px rgba(85, 85, 85, 0.15);
	}

	/* Image inside the card - adjust size for better fit */
	.card-image img {
		width: 80px;
		/* Reduce image size */
		height: auto;
		border-radius: 4px;
	}

	/* Adjust card content alignment */
	.card-content {
		flex-direction: column;
		/* align-items: flex-start; */
	}

	.card-contents {
		flex-direction: column;
		/* align-items: flex-start; */
	}

	.card-body {
		width: 100%;
	}

	/* Tooltip adjustment for smaller screens */
	.tooltip-text {
		left: 50%;
		transform: translateX(-50%);
		width: auto;
		max-width: 80%;
		text-align: center;
	}

	/* Button icon adjustment */
	.threeDotsClass {
		margin-right: 0;
	}
}

.tooltip {
	display: none;
	/* background-color: black; */
	color: white;
	/* Tooltip text color */
	font-family: "Invention", sans-serif;
	/* Font style for tooltip text */
	position: absolute;
	top: -4px;
	/* left: 35px; */
	border-radius: 4px;
	padding: 8px;
	z-index: 1;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	/* Adding a shadow for better visibility */
}

.tooltip-container:hover .tooltip {
	visibility: visible;
	opacity: 1;
	display: block;
}

.therapeuticCls {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 81px;
	padding-bottom: 7.714px;
	justify-content: center;
}

.topicCls {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 81px;
	padding-bottom: 7.714px;
	justify-content: center;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
	.therapeutic-area {
		width: 717px;
		padding: 24px 24px 32px 24px;
		flex-direction: column;
		align-items: flex-start;
		gap: 16px;
		flex: 1;
		border-radius: 5px;
		border: 1px solid var(--Neutral-Light-Gray, #E4E4E4);
		background: var(--Neutral-White, #FFF);
		/* margin-left: -119px; */
	}

	.viewCls {
		font-weight: 700;
	}

	.therapeutic-areas {
		width: 717px;
		padding: 24px 24px 32px 24px;
		flex-direction: column;
		align-items: flex-start;
		gap: 16px;
		flex: 1;
		border-radius: 5px;
		border: 1px solid var(--Neutral-Light-Gray, #E4E4E4);
		background: var(--Neutral-White, #FFF);
		/* margin-left: -119px; */
	}

	.layout1 {
		background: #f4f4f4;
		width: 100%;
	}




	.topics-Class {

		width: 717px;
		padding: 24px 24px 32px 24px;
		flex-direction: column;
		align-items: flex-start;
		gap: 16px;
		flex: 1;
		border-radius: 5px;
		border: 1px solid var(--Neutral-Light-Gray, #E4E4E4);
		background: var(--Neutral-White, #FFF);
		margin-left: 40px;

	}

	.card-content {
		flex-direction: row;
		/* align-items: flex-start; */
	}

	.card-contents {
		flex-direction: row;
		/* align-items: flex-start; */
	}

}

@media only screen and (min-width: 360px) and (max-width: 600px) {

	.therapeutic-area {
		width: 100%;
		padding: 24px 24px 32px 24px;
		flex-direction: column;
		align-items: flex-start;
		gap: 16px;
		flex: 1;
		border-radius: 5px;
		background: var(--Neutral-White, #FFF);
		margin-left: 17px;
		border: none;
		display: flex;
		margin-top: 21px;

		/* overflow-x: scroll; */
	}

	.viewCls {
		font-weight: 400;
	}

	/* .therapeutic-areas{
        min-width: 100%;
        padding: 24px 24px 32px 24px;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        flex: 1;
        border-radius: 5px;
        background: var(--Neutral-White, #FFF);
        margin-left: 17px;
        border: none; */
	/* overflow-x: scroll; */
	/* } */

	.iconsCls {
		display: flex;
		flex-direction: column;
		background: #ffffff;
		border: none;
	}

	.ArrowCls {
		width: 50px;
		height: 40px;
		background: #F4F4F4;
		/* border-color: #F4F4F4; */
		color: #00857C;
		display: flex;
		align-items: center;
		justify-content: center;
	}




	.topics-Class {

		width: 100%;
		padding: 24px 24px 32px 24px;
		flex-direction: column;
		align-items: flex-start;
		gap: 16px;
		flex: 1;
		border-radius: 5px;
		background: var(--Neutral-White, #FFF);
		margin-left: 17px;
		border: none;
		display: flex;

	}

	.card-content {
		flex-direction: row;
		align-items: flex-start;
	}

	.card-contents {
		flex-direction: row;
		align-items: flex-start;
	}

	.therapeuticCls {
		display: flex;
		/* height: 81px; */
		padding-bottom: 7.714px;
		justify-content: center;
		/* align-items: center; */
		width: 327px;
		height: 73.7px;
	}

	.topicCls {
		display: flex;
		/* height: 81px; */
		padding-bottom: 7.714px;
		justify-content: center;
		/* align-items: center; */
		width: 327px;
		height: 73.7px;
	}

	.card {
		background: #fff;
		border: 1px solid #e0e0e0;
		border-radius: 8px;
		/* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
		padding: 16px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		min-width: 337px;
		width: 100%;
		height: 224px;
		margin: auto;
		box-shadow: 0px 2px 4px 0px rgba(85, 85, 85, 0.15);

	}


	.layout {
		display: flex;
		gap: 23px;
		justify-content: space-between;
		flex-direction: column;
	}

	.navigation {
		display: flex !important;
		gap: 24px;
		margin-top: 0px;
		margin-left: 0px;
		margin-bottom: 22px;

	}

	.navigations {
		display: flex !important;
		gap: 24px;
		margin-top: -18px;
		margin-left: 27px;
		margin-bottom: 25px;

	}

	.card-container {
		flex-direction: row;
		display: flex;
		align-items: center;
		overflow-x: scroll;
		width: 100%;
		margin: auto;
		margin-left: 0px;
	}


	.tumar-card-content {
		display: flex;
		flex-direction: row;
		width: 333px;
		/* border: 15px #f4f4f4; */
		background: #fff;
		border: 1px solid #e0e0e0;
		border-radius: 8px;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		padding: 16px;
		height: auto;

	}

	.therapeutic-areas {
		/* width: 80%; */
		padding: 24px 24px 32px 24px;
		flex-direction: column;
		align-items: flex-start;
		gap: 16px;
		flex: 1;
		border-radius: 5px;
		border: none !important;
		background: var(--Neutral-White, #FFF);
		margin-left: 2px;
		width: 100%;
	}

	.layout1 {
		background: #f4f4f4;
		width: 100%;
	}

	.Tumor-container {
		overflow-x: auto;
		white-space: nowrap;
		display: flex;
		gap: 13px;
		flex-direction: row;
		width: 100%;
	}
}

@media only screen and (min-width: 820px) and (max-width: 1180px) {
	.therapeutic-area {
		width: 839px;
		padding: 24px 24px 32px 24px;
		flex-direction: column;
		align-items: flex-start;
		gap: 16px;
		flex: 1;
		border-radius: 5px;
		border: 1px solid var(--Neutral-Light-Gray, #E4E4E4);
		background: var(--Neutral-White, #FFF);
		/* margin-left: -119px; */
	}

	.viewCls {
		font-weight: 700;
	}

	.therapeutic-areas {
		width: 839px;
		padding: 24px 24px 32px 24px;
		flex-direction: column;
		align-items: flex-start;
		gap: 16px;
		flex: 1;
		border-radius: 5px;
		border: 1px solid var(--Neutral-Light-Gray, #E4E4E4);
		background: var(--Neutral-White, #FFF);
		/* margin-left: -119px; */
	}



	.topics-Class {

		width: 839px;
		padding: 24px 24px 32px 24px;
		flex-direction: column;
		align-items: flex-start;
		gap: 16px;
		flex: 1;
		border-radius: 5px;
		border: 1px solid var(--Neutral-Light-Gray, #E4E4E4);
		background: var(--Neutral-White, #FFF);
		margin-left: 40px;

	}

	.card-content {
		flex-direction: row;
		/* align-items: flex-start; */
	}

	.card-contents {
		flex-direction: row;
		/* align-items: flex-start; */
	}

}

@media only screen and (min-width: 430px) and (max-width: 600px) {
	.therapeutic-area {
		width: 383px;
		padding: 24px 24px 32px 24px;
		flex-direction: column;
		align-items: flex-start;
		gap: 16px;
		flex: 1;
		border-radius: 5px;
		background: var(--Neutral-White, #FFF);
		margin-left: 37px;
		border: none;
		display: flex;
		margin-top: 21px;
	}

	.viewCls {
		font-weight: 700;
	}

	.iconsCls {
		display: flex;
		flex-direction: column;
		background: #ffffff;
		border: none;
	}

	.ArrowCls {
		width: 50px;
		height: 40px;
		background: #F4F4F4;
		/* border-color: #F4F4F4; */
		color: #00857C;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.navigation {
		display: flex !important;
		gap: 24px;
		margin-top: 0px;
		margin-left: 0px;
		margin-bottom: 22px;

	}

	/* 
	.therapeutic-areas {
		width: 383px;
		padding: 24px 24px 32px 24px;
		flex-direction: column;
		align-items: flex-start;
		gap: 16px;
		flex: 1;
		border-radius: 5px;
		background: var(--Neutral-White, #FFF);
		margin-left: 37px;
		border: none;
	} */

	.topics-Class {
		width: 383px;
		padding: 24px 24px 32px 24px;
		flex-direction: column;
		align-items: flex-start;
		gap: 16px;
		flex: 1;
		border-radius: 5px;
		border: 1px solid var(--Neutral-Light-Gray, #E4E4E4);
		background: var(--Neutral-White, #FFF);
		margin-left: 37px;
		display: flex;
	}
}


@media only screen and (min-width: 414px) and (max-width: 600px) {
	.therapeutic-area {
		width: 383px;
		padding: 24px 24px 32px 24px;
		flex-direction: column;
		align-items: flex-start;
		gap: 16px;
		flex: 1;
		border-radius: 5px;
		background: var(--Neutral-White, #FFF);
		margin-left: 31px;
		border: none;
		display: flex;
		margin-top: 21px;
	}

	.viewCls {
		font-weight: 700;
	}

	.iconsCls {
		display: flex;
		flex-direction: column;
		background: #ffffff;
		border: none;
	}

	.ArrowCls {
		width: 50px;
		height: 40px;
		background: #F4F4F4;
		/* border-color: #F4F4F4; */
		color: #00857C;
		display: flex;
		align-items: center;
		justify-content: center;
	}



	/* .therapeutic-areas {
		width: 383px;
		padding: 24px 24px 32px 24px;
		flex-direction: column;
		align-items: flex-start;
		gap: 16px;
		flex: 1;
		border-radius: 5px;
		background: var(--Neutral-White, #FFF);
		margin-left: 31px;
		border: none;
	} */

	.topics-Class {
		width: 383px;
		padding: 24px 24px 32px 24px;
		flex-direction: column;
		align-items: flex-start;
		gap: 16px;
		flex: 1;
		border-radius: 5px;
		border: 1px solid var(--Neutral-Light-Gray, #E4E4E4);
		background: var(--Neutral-White, #FFF);
		margin-left: 31px;
		display: flex;
	}

	.tumar-card-content {
		display: flex;
		flex-direction: row;
		width: 333px;
		/* border: 15px #f4f4f4; */
		background: #fff;
		border: 1px solid #e0e0e0;
		border-radius: 8px;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		padding: 16px;
		height: auto;

	}

	.therapeutic-areas {
		/* width: 80%; */
		padding: 24px 24px 32px 24px;
		flex-direction: column;
		align-items: flex-start;
		gap: 16px;
		flex: 1;
		border-radius: 5px;
		border: none !important;
		background: var(--Neutral-White, #FFF);
		margin-left: 19px;
		width: 435px;
	}

	.layout1 {
		background: #f4f4f4;
		width: 100%;
	}

	.card-container {
		flex-direction: row;
		display: flex;
		align-items: center;
		overflow-x: scroll;
		width: 89%;
		margin: auto;
		margin-left: 0px;
	}

	.Tumor-container {
		overflow-x: auto;
		white-space: nowrap;
		display: flex;
		gap: 13px;
		flex-direction: row;
		width: 89%;
	}
}


@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {


	.therapeutic-area {
		width: 972px;
		padding: 24px 24px 32px 24px;
		flex-direction: column;
		align-items: flex-start;
		gap: 16px;
		flex: 1;
		border-radius: 5px;
		background: var(--Neutral-White, #FFF);
		margin-left: 40px;
		border: none;
	}

	.viewCls {
		font-weight: 700;
	}

	.therapeutic-areas {
		width: 972px;
		padding: 24px 24px 32px 24px;
		flex-direction: column;
		align-items: flex-start;
		gap: 16px;
		flex: 1;
		border-radius: 5px;
		background: var(--Neutral-White, #FFF);
		margin-left: 40px;
		border: none;
	}

	.topics-Class {
		width: 972px;
		padding: 24px 24px 32px 24px;
		flex-direction: column;
		align-items: flex-start;
		gap: 16px;
		flex: 1;
		border-radius: 5px;
		border: 1px solid var(--Neutral-Light-Gray, #E4E4E4);
		background: var(--Neutral-White, #FFF);
		margin-left: 40px;
	}

}