.highlight {
    background: lightblue;
}

.white-background {
    background: var(--sds-c-button-neutral-color-background, #fff);
}

.round-border {
    border-radius: 1rem;
}

.rt-button:hover {
    background-color: var(--sds-c-button-neutral-color-background-hover, #f4f6f9);
    border-color: var(--sds-c-button-neutral-color-border-hover, #dddbda);
}

.rt-button:focus {
    outline: none;
    box-shadow: 0px 0px 2px #0066ff;
}

.rt-button-header {
    font-weight: 400;
}

.rt-button-description {
    font-size: 1rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}