.dummy{
	color : black;
}
    .slds-modal__header {
    padding: 0rem 0rem; 
    margin-bottom: 0; 
    height: auto; 
    line-height: 0.1; 
}
    .saved-search-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }

    .saved-search-name {
        flex: 1;
        margin-right: 10px;
        text-decoration: none;
        color: #0070d2;
        cursor: pointer;
    }

    .saved-search-name:hover {
        text-decoration: underline;
    }

    .icon-buttons {
        display: flex;
        gap: 10px;
    }

    .icon-button {
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
        box-shadow: none;

    }

    .icon-button lightning-icon {
        fill: currentColor;
    }

    .slds-card_modal {
    border: 1px solid #d8dde6; 
    border-radius: 0.25rem; 
    box-shadow: none; 
    max-width: 40rem;
}

.iconpopup1 {
    position: absolute;
    top: 1rem; 
    right: 1rem;
    border: none; 
}

/* Ensure close button icon is properly sized and aligned */
.slds-button_icon {
    height: 2rem; 
    width: 2rem; 
}

.iconpopup{
        position: absolute;
    top: -1.5rem;
    right: 1rem;
    border: none;
}