.channel-label {
  font-weight: bold;
}

.row:not(:first-of-type) {
  margin-top: var(--lwc-spacingSmall);
}

.row-container {
  display: flex;
}

.metric-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 0 0 95px;
  padding-right: var(--lwc-spacingMedium);
  overflow-wrap: anywhere;
}