.headCls{
  font-family: 'InventionRg';
}
.headingCls{
  font-weight: 400;
  font-family: 'InventionRg';
}
.requiredField label:after {
  content: " *";
  color: red;
}
.q-container{
  background-color: #fff;
  width: calc(100% - 190px);
  min-height: 350px;
  padding: 9px 18px 18px 18px;
  margin: 15px 0px 12px 39px;
}
.slds-table{
  border: 1px solid var(--slds-g-color-border-base-1,#e5e5e5);
  font-size: 12px;
}

.submitBtn{
  height: 32px;
  width: 100px;
}
.btnHover{
  color: #ffffff;
  letter-spacing: 0.75px;
}
.btnHover:not([disabled]){
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  box-shadow: inset 0 0 0 0 #005C55;
}
.btnHover:hover:not([disabled]){
  box-shadow: inset 400px 0 0 0 #005C55;
}

.slds-button_icon:hover{
  border: 1px solid #00857C;
}


@media only screen and (max-width: 900px){
  .q-container{
      width: auto;
      min-height: 279px;
      padding: 10px 6px 10px 10px;
      margin: 0 12px 80px 12px !important;
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center; 
  z-index: 1000; 
}
.spinner {
  z-index: 1001; 
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 1000px) {
.perviousCase{
  /* display: -webkit-box; */
  display: grid;
}
}

@media only screen and (min-device-width: 1001px) and (max-device-width: 1200px) {
  .perviousCase{
    /* display: -webkit-box; */
    display: grid;
  }
  }