.container {
    background: #F8F5F2;
    /* margin-top:50px; */
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: #F8F5F2;
}

.centercls {
    display: flex;
    justify-content: center;
    margin-top: 85px;
    margin-bottom: 66.47px;
    background: #F8F5F2;
}

.bodymaincls {
    border-radius: 10px;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 0px 0px !important;

}

.pass_background {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(Blur.png);
    flex: none;
    order: 1;
    flex-grow: 0;
}

.pass_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 10px; */
    background: #F8F5F2;
    /* overflow: hidden; */
}

.pass_container {
    /* background: #FFFFFF; */
    border-radius: 8px;
    padding: 32px;
    margin: 40px 0px;
    align-self: stretch;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.15);
    font-family: 'Invention';
    width: 524px;
}

.pass_container p {
    text-align: center;
    font-family: 'Invention';
    line-height: 24px;
    font-weight: 400;
    font-size: 16px;
}

.login-after-div {
    justify-content: center !important;
}

.pass_headersec h2 {
    font-family: 'Invention';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000000;
}

.pass_headersec p {
    font-family: 'Invention';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #333333;
    padding-top: 15px;
}

.password {
    /* padding-top: 32px; */
    margin-bottom: 0;
}

.conpass {
    padding-top: 32px;
}

.pass_reqsectionmain {
    padding-top: 16px;
    font-family: 'Invention';
}

.pass_reqsection {
    background: #F7F7F7;
    padding: 16px;
}

.pass_reqsection h2 {
    font-family: 'Invention';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
}

.flexdiv {
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.flexdiv1 {
    display: flex;
    align-items: center;
    padding-top: 16px;
}

.flexdiv span,
.flexdiv1 span {
    font-family: 'Invention';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #333333;
}

.closeiconcls {
    margin-right: 7.87px;
    width: 16.25px;
    height: 16.25px;
}

.btnmaincls {
    display: flex;
    justify-content: end;
    padding-top: 32px;
}

.nextbtncls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 16px;
    gap: 20px;
    height: 50px;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: 'Invention';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    background: #A4A4A4;
}

.loginbtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 16px;
    gap: 20px;
    height: 50px;
    width: auto;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: 'Invention';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    background: #00857C;
}

.btnenablecls {
    background: #00857C !important;
}

.errormsgcls {
    color: #DB281A;
    font-style: normal;
    font-weight: 500;
    font-family: 'Invention';
    font-size: 12px;
    vertical-align: top;
    margin-top: 16px;
}

.confirmfootercls p {
    color: #333;
    text-align: center;
    font-size: 14px;
    font-family: 'Invention';
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}

.confirmfootercls {
    /* padding-top: 40px; */
    text-align: center;
    font-family: 'Invention';
}

.link {
    margin-top: 16px;
}

.link a {
    color: #00857C;
    text-align: center;
    font-size: 14px;
    font-family: 'Invention';
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    text-decoration-line: underline;
}

.merckimg {
    margin-top: 40px;
}
.job {
	text-align: end;
    font-size: 14px;
    font-family: 'Invention';
	position: fixed; 
    bottom:0%;
    width:100%;
	padding-right: 24px;
	padding-bottom: 24px;
}
@media screen and (max-width: 767px) {
    .pass_container {
        width: auto;
        margin-left: 16px;
        margin-right: 16px;
        min-width: 0 !important;
    }
    .job{
	    position: inherit !important;
	}
}