.pbanner {
    position: relative;
}
.pbanner_img{
    height: 309x !important;
    object-fit: cover;
}
.container {
    top: -20px;
    width: 1128px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    margin-top: -100px !important;
    box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: auto;
    background: #FFFFFF;
    display: flex;
    margin-bottom: 60px;
}
/*validation pannel css starts*/
.pass_reqsectionmain {
    padding-top: 16px;
    font-family: 'Invention';
}
.pass_reqsection {
    /* background: #F7F7F7; */
    background: #F1F9F9;
    padding: 16px 0px 18px 16px;
}

.pass_reqsection h2 {
    font-family: 'Invention';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
}
.flexdiv1 {
    display: flex;
    align-items: center;
    padding-top: 16px;
}

.flexdiv span,
.flexdiv1 span {
    font-family: 'Invention';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #333333;
    margin-top: 3px;
}
.closeiconcls {
    margin-right: 7px;
    width: 16px;
    height: 16px;
}
.flexdiv {
    display: flex;
    align-items: center;
    padding-top: 10px;
}
/*validation pannel css ends*/
.right-panel {
    width: 564px; 
    height: 746px; 
    border-radius: 0 10px 10px 0;
    padding-top: 140px;
    padding-right: 88px;
    padding-left: 88px;
    /* padding: 48px 88px; */
    /* display: flex; */
}
.left-panel {
    width: 564px; 
    height: 746px; 
    background: #F1F9F9; 
    border-radius: 10px 0 0 10px;
}
.img-container {
    width: 564px;
    height: 746px;
    border-radius: 10px 0 0 0;
}
.welcls{
    color: var(--Gray-Scale-text-dark, #333);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Invention;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 8px;
}   
.loginbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #FFFFFF;
    background: #00857C;
    border-radius: 5px !important;
    font-family: 'Invention';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px !important;
    width: 389px ;
    height: 50px !important;
    letter-spacing: 0.861539px;
    border-color: #00857C;
    border: none !important;
}
.otpcode{
	width: 388px;
    height: 50px;
    border-radius: var(--borderRadius, 4px);
    border: 1px solid var(--components-input-outlined-enabledBorder, rgba(0, 0, 0, 0.23));
    /* margin-bottom: 24px; */
	padding-left: 10px;
}
.input-container {
    position: relative;
    width: 388px;
	height: 50px;
	margin-bottom: 24px;
	/* color: #00000099; */
	
}
.input-container1 {
    position: relative;
    width: 388px;
	height: 50px;
	margin-bottom: 24px;
	/* color: #00000099; */
	
}
.input-container input {
    padding-right: 30px;
    width: 100%;
	height: 50px;
	/* color: #00000099; */
	/* border-radius: 5px !important; */
	border-radius: var(--borderRadius, 4px);
	border: 1px solid var(--components-input-outlined-enabledBorder, rgba(0, 0, 0, 0.23));	
	padding-left: 10px;
}
.input-container1 input {
    padding-right: 30px;
    width: 100%;
	height: 50px;
	/* color: #00000099; */
	/* border-radius: 5px !important; */
	border-radius: var(--borderRadius, 4px);
	border: 1px solid var(--components-input-outlined-enabledBorder, rgba(0, 0, 0, 0.23));	
	padding-left: 10px;
	border-color: #D32F2F;
}
.input-container .eye-icon {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    cursor: pointer;
 	fill: var(--Gray-Scale-text-dark, #333);
}
.input-container1 .eye-icon {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    cursor: pointer;
 	fill: var(--Gray-Scale-text-dark, #333);
}
/* .eye-icon .svg{
	width: 16px !important;
} */
/* .input-container input .slds-icon{
	width: 16px !important;
} */
.errordiv{
	width: 388px;
	height: 50px;
	padding: 16px;
	background: var(--Alerts-warning-light, #FFE7E6);
	margin-bottom: 24px;
}
.errormatr{
	color: var(--System-Error, var(--Alerts-warning-dark, #DB281A));
	font-feature-settings: 'clig' off, 'liga' off;
	font-family: Invention;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 18px; /* 150% */
}
.mobilepic{
	display: none;
}
.deskpic{
	display: block;
}
/* .input-container .eye-icon svg{
    width: 16px !important; 
} */

.field-label {
    color: var(--text-secondary, rgba(0, 0, 0, 0.6));
    text-align: left;
    font-family: Invention;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.15px;
    font-weight: 400;
    background: #fff;
    position: absolute;
    margin-left: 12px;
    margin-top: -4px;
    padding: 0 5px;
}

@media only screen and (max-width: 767px) {
	.mobilepic{
		display: block;
	}
	.deskpic{
		display: none !important;
	}
	.input-container {
		width: 100%;
	}
	.input-container1 {
		width: 100%;
	}
	.errordiv{
		width: 100%;
	}
	.pbanner_img{
        height: 140px !important;
        object-fit: cover;
    }
	.container {
        top: -20px;
        width: auto;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 1;
        margin-top: -100px !important;
        box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        /* margin: auto; */
        background: #FFFFFF;
        display: block;
        margin: 16px;
    }
	.right-panel {
        width: auto;
        height: auto;
        padding: 40px 16px 24px 16px;
        
    }
	.left-panel {
		 border-radius: 10px 10px 0 0;
		 width: auto;
		 height: auto;
	}
	.img-container, .img-container img {
        width: auto;
        border-radius: 5px 5px 0 0;
        height: auto;
    }
	.welcls{
        font-size: 24px;
    }
	.loginbtn{
        width: 100% !important;
    }
	.otpcode{
	width: 100% !important;
    }
}