.tableHeadCls {
    background: #00857C;
    display: flex;
    /* padding: 8px 0px 8px 16px; */
    align-items: flex-start;
    gap: 139px;

}

.modal-foot-class {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 8px;
    padding: 20px;
    /* width: 1064px; */
    height: 76px;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.15);
}

.filter-modal {
    padding: 3rem 0 3rem 0;
    width: 72%;
    /* max-width: 80rem; */
}

.mainmodel-print {
    position: relative;
    max-width: 1090px;
    min-height: 621px;
    height: 621px;
    padding: 32px;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;
    background: #FFFFFF;
    border-radius: 0px !important;
}

.filter-header {
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 30px 0px;
}

.filter-header-txt {
    font-family: 'Invention';
    font-size: 24px;
    font-weight: 500;
    line-height: 31px;
    color: #005C56;
    text-transform: math-auto;
}

.closeiconclick {
    cursor: pointer;
}

.print-bd {
    font-family: 'Invention';
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #333333;
    max-height: 575px;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding-bottom: 110px;
}

.popup-actions {
    width: 100%;
    height: 76px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: #FFF;
    padding-right: 32px;
    box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.15);
}

.dr-form_btnGroup {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: flex-start;
    align-items: left;
}

.defaultCls {
    /* border-radius: 5px;  */
    max-width: 492px;
    border: var(--Size-Line-Width-lineWidth, 1px) solid #E1E1E1;
    background: #FFF;
    height: 40px;
    display: flex;
    align-items: center;
    color: #00857C;
    font-family: 'Invention';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    text-decoration-line: underline;
    padding: 20px;
    justify-content: space-between;
    cursor: pointer;
    text-transform: math-auto;
}

.primDefaultCls {
    /* border-radius: 5px; */
    border: var(--Size-Line-Width-lineWidth, 1px) solid #E1E1E1;
    background: #FFF;
    height: 40px;
    display: flex;
    align-items: center;
    text-decoration-line: none;
    padding: 20px;
    justify-content: space-between;
    cursor: pointer;
    color: #757575;
    font-feature-settings: 'liga'off, 'clig'off;
    font-family: 'Invention';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    text-transform: math-auto;

}

.iconsCls {
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.other-address-Class-modal {
    width: 1064px;
    height: 687px;
    margin: 0 auto;
}

.address-section {
    width: 492px;
    min-height: 160px;
    /* min-height: 246px; */
    flex-shrink: 0;
    /* padding: 20px; */
    /* border-radius: 5px; */
    border: var(--Size-Line-Width-lineWidth, 1px) solid #E1E1E1;
    background: #FFF;
    color: var(--Colors-Neutral-colorTextBase, #000);
    font-family: 'Invention';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    text-transform: lowercase;
    padding: 40px 140px 37px 33px;
    display: flex;
    flex-wrap: wrap;
}

.address-section-additional {
    width: 492px;
    min-height: 160px;
    /* min-height: 246px; */
    flex-shrink: 0;
    /* padding: 20px; */
    /* border-radius: 5px; */
    border: var(--Size-Line-Width-lineWidth, 1px) solid #E1E1E1;
    background: #FFF;
    color: var(--Colors-Neutral-colorTextBase, #000);
    font-family: 'Invention';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    text-transform: lowercase;
    padding: 40px 140px 37px 33px;
    display: flex;
    flex-wrap: wrap;
}



.tablesCls-mobile {
    display: none;
}

.totalCls {
    background: #f4f4f4;
}

.add-class {
    display: flex;
}

.slds-col {
    padding-bottom: 22px;
}

.paginationCls {
    padding: 13px 0px 13px 0px;
}


.customer-container-class {
    padding: 24px 17px 0px 24px;
    background: #F4F4F4;
}

.homeCls {
    color: #ADADAD;
    font-family: 'Invention';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 200% */
}

.customerBreadCls {
    color: #070101;
    font-family: 'Invention';
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 200% */
}

.close-class {
    display: flex;
    width: 24px;
    height: 24px;
    /* margin-right: 25%; */
    margin-left: 97%;
    cursor: pointer;
}

.body-modal-class {
    background: #fff;
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.container-Class {
    width: 1064px;
    height: 687px;
}

.headingCls {
    background: #fff;
    padding: 20px;
}

.other-modal-address {
    color: var(--Merck-Primary-Dark, #005C56);
    font-family: 'Invention';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    /* 133.333% */
}

.add-recipient {
    color: var(--Merck-Primary-Dark, #005C56);
    text-decoration-line: underline;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    font-family: 'Invention';
}

.emailself {
    color: var(--Merck-Primary-Dark, #005C56);
    padding-left: 11px;
    font-family: Invention;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    /* 150% */
    text-decoration-line: underline;
}

.remove-recipient {
    color: var(--Merck-Primary-Dark, #005C56);

}

.slds-button-cancel {
    display: inline-flex;
    height: var(--Size-Height-controlHeightLG, 40px);
    padding: 11px 16px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: var(--Corner-Radius, 4px);
    border: 2px solid var(--Primary-Primary, #00857C);
    flex-shrink: 0;
}

.slds-button-save {
    color: #fff;
    display: inline-flex;
    height: var(--Size-Height-controlHeightLG, 40px);
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: var(--Corner-Radius, 4px);
    background: var(--Primary-Primary, #00857C);
    flex-shrink: 0
}

.slds-modal__footer {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.customer-modal-name {

    color: var(--Merck-Primary-Dark, #005C56);
    font-family: 'Invention';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 133.333% */
}

.addressCls {
    color: var(--Colors-Neutral-colorTextBase, #000);
    font-variant-numeric: lining-nums tabular-nums;
    font-family: 'Invention';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 19.6px */
    text-transform: lowercase;
}

.other-Addresses {
    color: var(--Colors-Neutral-colorTextBase, #00857C);
    font-variant-numeric: lining-nums tabular-nums;
    font-family: 'Invention';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    text-decoration-line: underline;
    text-transform: lowercase;
    cursor: pointer;
}

.body-Class {
    border-bottom: var(--Size-Line-Width-lineWidth, 1px) solid var(--Outline, rgba(0, 0, 0, 0.12));
    background: rgba(0, 179, 166, 0.04);
}

/* .resultsCls:nth-child(even) div {
    background-color: #b32f2f !important;
} */

table tr:nth-child(even) {
    /* background-color: #f2f2f2; */
    border-radius: 5px;
    border: var(--Size-Line-Width-lineWidth, 1px) solid #E4E4E4;
    background: #F4F4F4;
}

.footer-container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding-top: 24px;
    padding-right: 5px;
}

.float-left {
    display: flex;
    justify-content: space-between;
    gap: 62px;
    align-items: baseline;
}

.emailtoself {
    display: flex;
}

.self-print {
    color: #202020;
    font-family: 'Invention';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    gap: 11.66px;
    padding-top: 32px;
}

/* .emailtoselfcheck{
    width: 24.338px;
    height: var(--Size-Height-controlHeightSM, 24px);
    flex-shrink: 0;
    border-radius: 2px;
    border: var(--Size-Line-Width-lineWidth, 1px) solid var(--Neutral-Dark-Gray, #555);
    background: var(--Neutral-White, #FFF);
} */

.grid-container-email input[type="checkbox"] {
    margin: 0 auto;
    border-radius: 2px;
    border: 1px solid #555;
    background: #FFF;
    width: 24.338px;
    height: 24px;
    flex-shrink: 0;
}



.headercls {
    width: 100%;
    height: 66px;
    color: #0B0000;
    font-family: 'Invention';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    display: flex;
    align-items: center;
    background: #fff;
    padding: 18px 0px 22px 14px;
}

.inputcls {
    display: flex;
    width: 173px;
    padding: 9.5px 12px;
    align-items: center;
    gap: 8px;
    border-radius: var(--Corner-Radius, 4px);
    border: var(--Size-Line-Width-lineWidth, 1px) solid var(--Colors-Neutral-colorTextBase, #000);
    background: var(--Neutral-White, #FFF);
}

.error-message {
    color: red;
    font-size: 12px;
    margin-bottom: 4px;
    margin-left: 2px;
}


.inputemailcls {
    display: flex;
    width: 244px;
    padding: 9.5px 12px;
    align-items: center;
    gap: 8px;
    border-radius: var(--Corner-Radius, 4px);
    border: var(--Size-Line-Width-lineWidth, 1px) solid var(--Colors-Neutral-colorTextBase, #000);
    background: var(--Neutral-White, #FFF);
}


.searchCls {
    height: 41px;
}

/* .searchCls{
    
    border-radius: 5px;
    border: var(--Size-Line-Width-lineWidth, 1px) solid var(--Colors-Neutral-colorTextBase, #000);
    background: var(--Neutral-White, #FFF);
    display: flex;
    width: 100%;
    height: 41px;
    padding: 8.5px 12px 8.5px;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;

} */

.resultsCls {
    color: var(--Colors-Neutral-colorTextBase, #000);
    font-variant-numeric: lining-nums tabular-nums;
    font-family: invention;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 19.6px */
    text-transform: capitalize;
    height: 60px;
}

.headCls {
    /* display: flex; */
    background: #00857C;
    /* padding: 8px 0px 8px 16px; */
    align-items: flex-start;
    /* gap: 150px; */
}

.slds-text {
    background: #00857C;
    color: #fff;
    font-family: 'Invention';
    min-height: 22px !important;
}

.slds-truncate {
    color: #fff;
}


.container {
    height: 100%;
}

.tabs-container {
    display: flex;
    gap: 10px;
    border-bottom: 1px solid #d8dde6;
    margin-bottom: 20px;
}

.tab-button {
    background: none;
    border: 1px solid transparent;
    padding: 10px;
    cursor: pointer;
    font-family: 'Invention';
    border-bottom: none;
}

.tab-button.active {
    border: 1px solid #d8dde6;
    border-bottom: 1px solid #ffffff;
    font-weight: bold;
}

.tab-content {
    padding: 10px;
}

.filter-container {
    height: 439px;
    overflow-y: scroll;
}

.filter-norecords {
    text-align: center;
    padding: 24px;
}

.grid-container {
    display: grid;
    grid-template-columns: 0fr 2.5fr 2.5fr 2.5fr 3.5fr;
    gap: 0;
    border: 1px solid #d8dde6;
    align-items: stretch;
}

.grid-header {
    border-bottom: 2px solid #d8dde6;
    padding: 12px;
    background-color: #FFFFFF;
    color: #202020;
    font-family: 'Invention';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.grid-item {
    padding: 12px;
    min-height: 74px;
    border: none;
    color: #202020;
    font-family: 'Invention';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
}

.grid-item-a {
    /* padding: 12px; */
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    min-height: 74px;
    border: none;
    color: #202020;
    font-family: 'Invention';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox-a {
    border-radius: 0px;
}

.grid-container input[type="checkbox"] {
    margin: 0 auto;
    border-radius: 2px;
    border: 1px solid #555;
    background: #FFF;
    width: 24.338px;
    height: 24px;
    flex-shrink: 0;
}

.dr-form_btnGroup {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: flex-start;
    align-items: left;
}

.mbl-display {
    display: none;
}

.breadcrumbs {
    display: flex;
    gap: 6px;
    padding-bottom: 20px;
}

.breadcrumb1 {
    color: #ADADAD;
    font-family: 'Invention';
    white-space: no-wrap;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    cursor: pointer;
}

.breadcrumb2 {
    color: #070101;
    font-family: 'Invention';
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.filter-btn-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.m-hi {
    display: none;
}

.mycollectioncustomer .grid-item:nth-child(5n-4),
.mycollectioncustomer .grid-item:nth-child(5n-3),
.mycollectioncustomer .grid-item:nth-child(5n-2),
.mycollectioncustomer .grid-item:nth-child(5n-1),
.mycollectioncustomer .grid-item:nth-child(5n) {
    background-color: #FFFFFF;
}

.mycollectioncustomer .grid-item:nth-child(10n-4),
.mycollectioncustomer .grid-item:nth-child(10n-3),
.mycollectioncustomer .grid-item:nth-child(10n-2),
.mycollectioncustomer .grid-item:nth-child(10n-1),
.mycollectioncustomer .grid-item:nth-child(10n) {
    background-color: #F9F9F9;
}

.search-box {
    display: flex;
    align-items: center;
    color: #555;
    justify-content: center;
}

.search-container {
    position: relative;
    border-radius: 20px;
    border: 1px solid #C4C4C4;
    background: #FFF;
    display: flex;
    height: 41px;
    width: 314px;
    padding: 8.5px 12px 8.5px 20px;
    justify-content: flex-end;
    align-items: center;
    gap: 52px;
    margin-right: 24px;
}

.custom-search-input {
    border: none;
    outline: none;
    font-family: 'Invention';
    color: #555555;
    flex-grow: 1;
    margin-bottom: 0px;
    padding-right: 40px;
    border-radius: 20px;
    font-size: 12px;
}

.mobileicon {
    display: none;
}

/* Smartphones (portrait) */
@media only screen and (max-width: 480px) {

    .mobileicon {
        display: block;
    }

    .desktopicon {
        display: none;
    }

    .tablesCls {
        display: none;

    }

    .tablesCls-mobile {
        display: block;
    }

    .headCls {
        display: none;
    }

    .body-Class {
        width: 338px;
        min-height: 180px;
        /* flex-shrink: 0; */
        display: flex;
        flex-direction: column;
        gap: 0px;
        /* border-radius: 5px; */
        background: #F9F9F9;
        padding: 24px;
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08)
    }

    td,
    th {
        color: var(--color);
        font-size: var(--font-size-scale-base);
        font-weight: var(--font-weight-medium);
        padding: 3px !important;
    }

    td:not([align]),
    th:not([align]) {
        text-align: left;
    }

    tbody td,
    tbody th {
        border-bottom: none;
    }

    .resultsCls {
        color: var(--Colors-Neutral-colorTextBase, #000);
        font-variant-numeric: lining-nums tabular-nums;
        font-family: invention;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 0px !important;
        text-transform: capitalize;
        height: 25px !important;
    }

    .nameCls {
        color: var(--Colors-Neutral-colorTextBase, #000);
        font-variant-numeric: lining-nums tabular-nums;
        font-family: invention;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        margin-bottom: 10px;

    }

    .mbl-display {
        display: block;
    }

    .mb-display {
        display: none !important;
    }

    .grid-container {
        display: flex;
        border: none;
        flex-direction: column;
    }

    .print .dr-form_btnGroup {
        padding-top: 0px;
        justify-content: center;
    }

    .footer-container {
        position: fixed;
        bottom: 0px;
        width: 100%;
    }

    .dr-form_btnGroup {
        padding: 8px 24px;
        width: 100%;
    }

    .mbl-filter-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        gap: 15.54px;
        padding: 19px 24px 24px 24px;
        color: #202020;
    }

    .grid-header {
        color: #202020;
        font-family: 'Invention';
        background: transparent;
        font-size: 14px;
        font-weight: 700;
        padding: 0px;
        border: none;
        line-height: 1.6;
    }

    .dt-container {
        display: flex;
    }

    .mbl-filter-container:nth-child(odd) {
        background-color: #F9F9F9;
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
    }

    .mbl-filter-container:nth-child(even) {
        background-color: #FFFFFF;
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
    }

    .filter-modal {
        padding: 0px;
        width: 100%;
        margin: 0px;
        display: grid;
    }

    .mainmodel-print {
        padding: 20px 27px 0px 28px;
        background: #FFFFFF;
    }

    .filter-header {
        padding-bottom: 8px;
        line-height: 32px;
        flex-direction: column;
    }

    .search-container {
        width: 327px;
    }

    .filter-header-txt {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 24px 24px 12px 24px;
        gap: 10px;
        font-weight: 500;
    }

    .filter-header-txt span {
        font-weight: 400 !important;
    }

    .filter-btn-layout {
        width: 100%;
        height: 56px;
        flex-shrink: 0;
        background: #FFF;
        box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.08);
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
    }

    .address-section-additional,
    .address-section {
        padding: 43px 29px 0px 13px;
        font-size: 24px;
        max-width: 320px;
    }

    .popup-actions {
        height: 66px;
        position: fixed;
        justify-content: flex-end;
        padding-right: 29px;
    }

    .print-bd {
        padding-bottom: 70px;
    }

    .defaultCls {
        padding: 18px 15.92px;
    }

    .lt-button {
        width: 100%;
    }

    .print .lt-button {
        width: 155px;
    }

    .mbl-recipients-container {
        margin-left: 23px;
    }

    .checkboxmbl {
        display: flex;
        gap: 15px;
    }

    .inputclsmbl {
        display: flex;
        width: 326px;
        padding: 9.5px 12px;
        align-items: center;
        gap: 8px;
        border-radius: var(--Corner-Radius, 4px);
        border: var(--Size-Line-Width-lineWidth, 1px) solid var(--Colors-Neutral-colorTextBase, #000);
        background: var(--Neutral-White, #FFF);
        margin-bottom: 21px;
    }

    .m-hi {
        display: flex !important;
        padding: 0px 0px 0px 24px;
        margin-bottom: 18px;
        justify-content: flex-start;
    }

    .w-dp {
        display: none;
    }
}

/* Smartphones (landscape) */
@media only screen and (min-width: 481px) and (max-width: 767px) {
    .tablesCls {
        display: none;

    }

    .tablesCls-mobile {
        display: block;
    }

    .headCls {
        display: none;
    }

    .body-Class {
        width: 338px;
        min-height: 180px;
        /* flex-shrink: 0; */
        display: flex;
        flex-direction: column;
        gap: 0px;
        /* border-radius: 5px; */
        background: #F9F9F9;
        padding: 24px;
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08)
    }

    td,
    th {
        color: var(--color);
        font-size: var(--font-size-scale-base);
        font-weight: var(--font-weight-medium);
        padding: 3px !important;
    }

    td:not([align]),
    th:not([align]) {
        text-align: left;
    }

    tbody td,
    tbody th {
        border-bottom: none;
    }

    .resultsCls {
        color: var(--Colors-Neutral-colorTextBase, #000);
        font-variant-numeric: lining-nums tabular-nums;
        font-family: invention;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 0px !important;
        text-transform: capitalize;
        height: 25px !important;
    }

    .nameCls {
        color: var(--Colors-Neutral-colorTextBase, #000);
        font-variant-numeric: lining-nums tabular-nums;
        font-family: invention;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        margin-bottom: 10px;

    }

    .mbl-display {
        display: block;
    }

    .mb-display {
        display: none !important;
    }

    .grid-container {
        display: flex;
        border: none;
        flex-direction: column;
    }

    .mbl-display div:nth-child(even) {
        background: #F4F4F4;
    }

    .print .dr-form_btnGroup {
        padding-top: 0px;
        justify-content: center;
    }

    .footer-container {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        padding-left: 23px;
        padding-right: 19px;
    }

    .mbl-filter-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        gap: 15.54px;
        padding: 19px 24px 24px 24px;
    }

    .grid-header {
        color: #202020;
        font-family: 'Invention';
        background: transparent;
        font-size: 14px;
        font-weight: 700;
        padding: 0px;
        border: none;
        line-height: 1.6;
    }

    .dt-container {
        display: flex;
    }

    .mbl-filter-container:nth-child(odd) {
        background-color: #F9F9F9;
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
    }

    .mbl-filter-container:nth-child(even) {
        background-color: #FFFFFF;
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
    }

    .filter-modal {
        padding: 0px;
        width: 100%;
        margin: 0px;
        display: grid;
    }

    .mainmodel-print {
        padding: 20px 27px 0px 28px;
        background: #FFFFFF;
    }

    .filter-header {
        padding-bottom: 8px;
        line-height: 32px;
    }

    .filter-header-txt {
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-weight: 500;
    }

    .filter-header-txt span {
        font-weight: 400 !important;
    }

    .filter-btn-layout {
        width: 100%;
        height: 56px;
        flex-shrink: 0;
        background: #FFF;
        box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.08);
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
    }

    .address-section-additional,
    .address-section {
        padding: 43px 29px 0px 13px;
        font-size: 24px;
        max-width: 320px;
    }

    .popup-actions {
        height: 66px;
        position: fixed;
        justify-content: flex-end;
        padding-right: 29px;
    }

    .print-bd {
        padding-bottom: 70px;
    }

    .defaultCls {
        padding: 18px 15.92px;
    }

    .lt-button {
        width: auto;
    }

    .print .lt-button {
        width: 155px;
    }

    .mbl-recipients-container {
        margin-left: 23px;
    }

    .checkboxmbl {
        display: flex;
        gap: 15px;
    }

    .inputclsmbl {
        display: flex;
        width: 326px;
        padding: 9.5px 12px;
        align-items: center;
        gap: 8px;
        border-radius: var(--Corner-Radius, 4px);
        border: var(--Size-Line-Width-lineWidth, 1px) solid var(--Colors-Neutral-colorTextBase, #000);
        background: var(--Neutral-White, #FFF);
        margin-bottom: 21px;
    }

    .m-hi {
        display: flex !important;
        padding: 0px 0px 0px 24px;
        margin-bottom: 18px;
        justify-content: flex-start;
    }

    .w-dp {
        display: none;
    }
}

/* Tablets (portrait) */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    table {
        /* --table-padding: var(--spacing-scale-2x) !important; */
        --table-padding: 10px !important;
    }

    .filter-modal {
        min-width: 46rem;
    }

    .filter-header-txt {
        line-height: 35px;
    }

    .address-section-additional {
        padding: 43px 29px 0px 13px;
        font-size: 24px;
        max-width: 320px;
    }

}

/* Tablets (landscape) */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .filter-modal {
        min-width: 46rem;
    }

    .address-section-additional {
        max-width: 320px;
    }

    .filter-header-txt {
        line-height: 35px;
    }

    .address-section-additional {
        padding: 43px 29px 0px 13px;
        font-size: 24px;
    }
}