.slds-gutters {
    margin: 0 !important;
}

.slds-tile__title {
    font-size: 16px;
    font-weight: bold;
}

a:not(:disabled):active,
a:not(:disabled):hover {
    background: none !important;
}

.cardtitle {
    font-size: 24px;
    font-weight: bold;
    margin: -1%;
}

.slds-text-body_small {
    font-size: 12px;
    color: grey;
}

.slds-box.slds-tile {
    border: 1px solid #d8dde6;
    padding: 1rem;
    border-radius: 0.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action-buttons a {
    font-size: 21px;
    color: grey;
    text-decoration: none;
    margin-right: 1rem;
}

.saction-buttons a {
    color: grey;
    text-decoration: none;
    margin-right: 1rem;
}

.action-buttons a:hover,
.action-buttons a:hover {
    text-decoration: underline;
}

.tile-image {
    width: 40px;
    height: 40px;
}

.slds-tile__detail {
    display: flex;
    align-items: center;
}

.truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
}

.truncate {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5;
    max-height: 3em;
    width: 90%;
}

@media only screen and (min-width: 48em) and (max-width: 64em) {

    .slds-tile__title {
        font-size: 7px;
        font-weight: bold;
    }

    .cardtitle {
        font-size: 15px;
        font-weight: bold;
        margin: -1%;
    }

    .slds-text-body_small {
        font-size: 8px;
        color: grey;
    }

    .slds-box.slds-tile {
        border: 1px solid #d8dde6;
        padding: 1rem;
        border-radius: 0.25rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .action-buttons a {
        font-size: 14px;
        color: grey;
        text-decoration: none;
        margin-right: 1rem;
    }

    .saction-buttons a {
        color: grey;
        text-decoration: none;
        margin-right: 1rem;
        font-size: 59%;
    }

    .action-buttons a:hover,
    .saction-buttons a:hover {
        text-decoration: underline;
    }

    .tile-image {
        width: 28px;
        height: 28px;
    }

    .slds-tile__detail {
        display: flex;
        align-items: center;
    }

}

.lightning-layout-item-custom {
    width: 636px;
    /* Set width for layout item */
    height: 81px;
    /* Set height for layout item */
    gap: 0px;
    /* Remove gap */
    opacity: 1;
    /* Set opacity to visible */
    padding: 24px 24px 32px 24px;
    /* Apply padding */
    border-radius: 5px 0px 0px 0px;
    /* Apply border-radius */
    border: 1px solid transparent;
    /* Apply border */
}

.lightning-combobox-custom {
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    padding: 8px;
    /* Apply padding inside combobox */
}

.combobox-label {
    font-size: 14px;
    /* Adjust font size as needed */
    margin-bottom: 8px;
    /* Space between label and combobox */
}


@media screen and (max-width: 767px) {
    .slds-tile__title {
        font-size: 8px;
        font-weight: bold;
    }

    .cardtitle {
        font-size: 13px;
        font-weight: bold;
        margin: -1%;
    }

    .slds-text-body_small {
        font-size: 7px;
        color: grey;
    }

    .slds-box.slds-tile {
        border: 1px solid #d8dde6;
        padding: 1rem;
        border-radius: 0.25rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .action-buttons a {
        font-size: 12px;
        color: grey;
        text-decoration: none;
        margin-right: 1rem;
    }

    .saction-buttons a {
        color: grey;
        text-decoration: none;
        margin-right: 1rem;
        font-size: 53%;
    }

    .action-buttons a:hover,
    .saction-buttons a:hover {
        text-decoration: underline;
    }

    .tile-image {
        width: 23px;
        height: 23px;
    }

    .slds-tile__detail {
        display: flex;
        align-items: center;
    }

}

/* Grid Css*/

.header-color-1 {
    background-color: #D48806;
    display: flex;
    justify-content: space-between;
    height: 38px;
    width: 255px;
    border-radius: 5px;
}

.header-color-2 {
    background-color: #D48806;
    display: flex;
    justify-content: space-between;
    height: 38px;
    width: 255px;
    border-radius: 5px;
}

.header-color-3 {
    background-color: #58A58E;
    display: flex;
    justify-content: space-between;
    height: 38px;
    width: 255px;
    border-radius: 5px;
}

.header-color-4 {
    background-color: #58A58E;
    display: flex;
    justify-content: space-between;
    height: 38px;
    width: 255px;
    border-radius: 5px;
}

.header-color-5 {
    background-color: #5493C6;
    display: flex;
    justify-content: space-between;
    height: 38px;
    width: 255px;
    border-radius: 5px;
}

.custom-layout {
    width: 100%;
    background-color: white;
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    border-radius: 5px;
    border-color: #E4E4E4;
}


.BoldText {
    color: var(--Neutral-Black, var(--Colors-Neutral-colorTextBase, #000));
    font-family: 'Invention';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}

.viewCls {
    line-height: 21px;
    color: #00857C;
    text-align: center;
    font-family: 'Invention';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    text-decoration-line: underline;
}

.header {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* height: 30px; */
    /* width: 1344px; */
    gap: 5px;
}

.grid-container {
    display: flex;
    /* flex-wrap: wrap; */
    width: 100%;
    /* height: 346px; */
    padding: 0px 0px 16px 0px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    /* margin-bottom: 23px; */
    /* margin-top: -16px; */
}

.grid-containers {
    display: flex;
    /* flex-wrap: wrap; */
    width: 100%;
    padding: 0px 0px 16px 0px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.grid-item {
    width: 255px;
    height: 385px;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* padding: 16px;*/
}

.grid-header {
    display: flex;
    align-items: center;
    width: 255px;
    height: 38px;
    justify-content: space-between;
    padding: 0px, 8px, 0px, 16px;
    border-radius: 5px, 5px, 0px, 0px;
    /* background-color: #D48806; */
}

.imageCls {
    width: 255px;
    height: 166px;
    padding: 16px;
    border: 0px, 0px, 1px, 0px;
    background: #E4E4E4;
}

.imageMidCls {
    width: 223px;
    height: 128px;
}

.threeDotsCls {
    color: #ffffff;
    margin-right: 7px;
}

.headingCls {
    color: var(--Neutral-White, #FFF);
    font-feature-settings: 'liga'off, 'clig'off;
    font-family: 'Invention';
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 12px;
    margin-left: 16px;
    margin-top: 13px;
    /* font-weight: 700; */

}

.grid-image {
    width: 50%;
    height: auto;
    margin-bottom: 8px;
    margin-left: 50px;
}

.gridBottomCls {
    width: 252px;
    height: 187px;
    padding: 8px, 16px, 16px, 16px;
}

.bold-text {
    font-weight: bold;
    margin-left: 14px;
    font-size: 14px !important;
    margin-top: 10px;
}

.normalText {
    font-size: 12px !important;
    margin-left: 14px;
    /* margin-bottom: -1px; */
    margin-top: -11px;
}

.normalText1 {
    font-size: 12px !important;
    margin-left: 14px;
    /* margin-bottom: -1px; */
    margin-top: -11px;
}

.codeCls {
    font-size: 12px !important;
    margin-left: 14px;
    /* margin-bottom: -1px; */
    margin-top: -11px;
    margin-bottom: 1px;
}


.expiry-text {
    color: #00857C;
    margin-left: 15px;
    font-size: 10px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 1px;
}

.previewCls {
    margin-left: 14px;
    font-size: 12px;
    width: 44px;
    text-decoration: underline;
}

.grid-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}

.itemCls {
    font-size: 12px;
    margin-right: 7px;
}

.checkBoxCls {
    margin-bottom: 3px;
}

.select-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .menu-content {
    background-color: white;
    padding: 16px;
    border-radius: 5px;
} */

/* .menu-item {
    padding: 8px;
    cursor: pointer;
} */

/* .menu-item:hover {
    background-color: #f0f0f0;
} */

.dropdown {
    position: relative;
    margin-top: 6px;
}

.menu-content {
    position: absolute;
    right: 0;
    top: 121%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 136px;
    height: 198px;
}

.menu-item {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #E4E4E4;
    height: 39px;
}

.menu-item:hover {
    background-color: #f0f0f0;
}

.tooltip-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip-text {
    visibility: hidden;
    background-color: #fff;
    ;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    /* Position above the text */
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
    width: 268px;
    height: 52px;
    text-wrap: wrap;
    margin-bottom: -100px;
}

.tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.TlayoutCls {
    width: 1440px;
    display: flex;
    gap: 0px;
    justify-content: space-between;
}

.therapeuticCls {
    width: 684px;
    height: 915px;
    padding: 0px 24px 0px 24px;
    gap: 0px;
    opacity: 0px;
}

.topicsCls {
    width: 684px;
    height: 915px;
    padding: 0px 24px 0px 24px;
    gap: 0px;
    opacity: 0px;

}

.lightning-combobox-custom {
    width: 636px;
    height: 81px;
    gap: 0px;
    opacity: 0px;
}

/* .slds-button--brand, .slds-button.slds-button_icon.slds-button_icon-brand, .slds-button_brand, lightning-button[variant=brand]::part(button){
    background-color: #F4F4F4;
    border-color: #F4F4F4;
    height: 40px;
    width: 50px;
    color: #00857C;
    transition: var(--dxp-c-button-brand-transition);

} */

.containerCls {
    border-radius: 5px;
    border: 1px solid #E4E4E4;
    margin: 19px 24px 24px 24px;
}

.navigation {
    display: flex;
    gap: 24px;
    margin-top: -18px;
    margin-left: 2px;
    margin-bottom: 25px;

}

.ArrowCls {
    width: 50px;
    height: 40px;
    background: #ffffff;
    border-color: #F4F4F4;
    color: #00857C;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ArrowCls .slds-icon-text-default {
    --slds-c-icon-color-foreground: #00857c;
}

@media only screen and (max-width: 480px) {


    .custom-layouts {
        width: 100%;
        box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.1);
    }

    .grid-container {
        display: flex;
        overflow-x: scroll;
        flex-wrap: nowrap;
        /* justify-content: space-between; */
        gap: 24px;
        padding: 16px 0;
        /* width: 60%; */
        height: auto;
        width: 100%;
    }

    .grid-containers {
        display: flex;
        overflow-x: scroll;
        flex-wrap: nowrap;
        /* justify-content: space-between; */
        gap: 24px;
        padding: 16px 0;
        /* width: 60%; */
        height: auto;
        width: 100%;
    }

    .navigation {
        width: 327px;
        height: 40px;
        display: flex;
        padding: 0px 24px;
        align-items: flex-start;
        align-content: flex-start;
        gap: 24px;
        align-self: stretch;
        flex-wrap: wrap;
    }

    .containerCls {
        margin: 0px 0px 32px 0px !important;
    }

    .viewCls {
        font-weight: normal !important;
    }

    .iconsCls {
        display: flex;
        flex-direction: column;
        background: #ffffff;
        border: none;
    }

    .ArrowCls {
        width: 50px;
        height: 40px;
        background: #F4F4F4;
        /* border-color: #F4F4F4; */
        color: #00857C;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .custom-layout {
        width: 100%;
        /* box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.1); */
    }

}

@media only screen and (max-width: 768px) {
    /* .custom-layout {
        width: 720px;
    }

    .custom-layouts {
        width: 720px;
    } */

    .grid-container {
        display: flex;
        overflow-x: scroll;
        flex-wrap: nowrap;
        gap: 24px;
        padding: 16px 0;
        /* width: 109%; */
        height: auto;
    }

    .grid-containers {
        display: flex;
        overflow-x: scroll;
        flex-wrap: nowrap;
        gap: 24px;
        padding: 16px 0;
        /* width: 109%; */
        height: auto;
        width: 100%;
    }

    .navigation {
        /* width: 672px; */
        height: 40px;
        display: flex;
        padding: 0px 24px;
        align-items: flex-start;
        align-content: flex-start;
        gap: 24px;
        align-self: stretch;
        flex-wrap: wrap;
    }

    .topics-Class {
        width: 743px;
        padding: 24px 24px 32px 24px;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        flex: 1;
        border-radius: 5px;
        border: 1px solid var(--Neutral-Light-Gray, #E4E4E4);
        background: var(--Neutral-White, #FFF);
        /* margin-right: -81px; */
        margin-left: -117px;
    }

    .therapeutic-area {
        width: 672px;
        padding: 24px 24px 32px 24px;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        flex: 1;
        border-radius: 5px;
        border: 1px solid var(--Neutral-Light-Gray, #E4E4E4);
        background: var(--Neutral-White, #FFF);
        margin-left: -117px;
    }

    .viewCls {
        font-weight: 700;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    .layout {
        display: flex;
        flex-direction: column;
    }

    .containerCls {
        border-radius: 5px;
        border: hidden;
        margin: 24px 24px 32px 24px;
    }
}

@media only screen and (min-width: 820px) and (max-width: 1041px) {
    /* .custom-layout {
        width: 720px;
    }

    .custom-layouts {
        width: 720px;
    } */

    .grid-container {
        display: flex;
        overflow-x: scroll;
        flex-wrap: nowrap;
        gap: 24px;
        padding: 16px 0;
        /* width: 109%; */
        height: auto;
    }

    .viewCls {
        font-weight: 700;
    }

    .grid-containers {
        display: flex;
        overflow-x: scroll;
        flex-wrap: nowrap;
        gap: 24px;
        padding: 16px 0;
        /* width: 109%; */
        height: auto;
    }

    .navigation {
        /* width: 672px; */
        height: 40px;
        display: flex;
        padding: 0px 24px;
        align-items: flex-start;
        align-content: flex-start;
        gap: 24px;
        align-self: stretch;
        flex-wrap: wrap;
    }

    .topics-Class {
        width: 743px;
        padding: 24px 24px 32px 24px;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        flex: 1;
        border-radius: 5px;
        border: 1px solid var(--Neutral-Light-Gray, #E4E4E4);
        background: var(--Neutral-White, #FFF);
        /* margin-right: -81px; */
        margin-left: -117px;
    }

    .therapeutic-area {
        width: 672px;
        padding: 24px 24px 32px 24px;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        flex: 1;
        border-radius: 5px;
        border: 1px solid var(--Neutral-Light-Gray, #E4E4E4);
        background: var(--Neutral-White, #FFF);
        margin-left: -117px;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    .layout {
        display: flex;
        flex-direction: column;
    }

    .containerCls {
        border-radius: 5px;
        border: hidden;
        margin: 24px 24px 32px 24px;
    }
}

@media only screen and (min-width: 1025px) {
    .navigation {
        display: none;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {
    .grid-container {
        display: flex;
        gap: 24px;
        overflow-x: scroll;
        width: 100%;
        padding: 16px 0px;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
    }

    .viewCls {
        font-weight: 700;
    }

    


    .grid-containers {
        display: flex;
        gap: 24px;
        overflow-x: scroll;
        width: 100%;
        padding: 16px 0px;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
    }
}