.rp-bar-main {
    padding-top: 22px;
    display: flex;
    height: 50px;
}

.rp-br-request-sbmtd {
    width: 14%;
    border-top: #D8D8D8 4px solid;
    display: flex;
    justify-content: flex-start;
}

.rp-br-apmt-schdl {
    width:65.6%;
    display: flex;
    justify-content: center;
    border-top: #D8D8D8 4px solid;
}

.rp-br-apmt-tchdl {
    width: 20.4%;
    display: flex;
    justify-content: center;
    border-top: #D8D8D8 4px solid;
}

.rp-br-apmt-cmpltd {
    width: 32.86%;
    display: flex;
    justify-content: flex-end;
    border-top: #D8D8D8 4px solid;
}
.rp-br-apmt-cmpltd-active{
    border-top: rgba(22, 126, 113, 0.3)4px solid;
}

.rp-bar-halfline{
    border-image: linear-gradient(to right,rgba(22, 126, 113, 0.3) 50% ,#D4D4D4 50%) 2;
}

.dot-class {
    height: 16px;
    width: 16px;
    border-radius: 8px;
    background: #D8D8D8;
    margin-top: -10px;
}

.active-dot-cls {
    background: #167E71 !important;
}

.active-border-cls {
    /* border-top: #167E71 4px solid; */
    border-top: rgba(22, 126, 113, 0.3)4px solid;
}

.rp-br-txt {
    font-family: 'Invention';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #303B44;
    position: absolute;
    margin-top: 11px;
}

lightning-formatted-date-time {
    margin-left: 4px;
}

.rp-deail-info li {
    margin-top: 8px;
}

.rp-deail-info li:first-child {
    margin-top: 0px !important;
}

@media screen and (max-width: 768px) {
    
    .rp-bar-main{
        display: grid;
        height: 10rem;
        padding-top: 16px;
    }
    
    .rp-br-txt{
        padding-left: 13px;
        font-size: 12px;
        margin-top: 0;
    }
    .rp-br-request-sbmtd{
        width: 12.28%;
        border-top: none;
        border-left: 4px solid #D8D8D8;
    }
    .rp-br-apmt-schdl{
        width: 12.28%;
        border-top: none;
        border-left: 4px solid #D8D8D8;
    }
    .rp-br-apmt-tchdl{        
        width: 12.28%;
        border-top: none;
        border-left: 4px solid #D8D8D8;
    }
    .rp-br-apmt-cmpltd{        
        width: 12.28%;
        border-top: none;
        border-left: 4px solid white;
        height: 0;
    }

    .active-border-cls {
        /* border-left: #167E71 4px solid; */
        border-left: rgba(22, 126, 113, 0.3)4px solid;
    }
    .rp-bar-halfline{
        border-image: linear-gradient(to right,#D4D4D4 50%, #D4D4D4 50%) 2;
    }
    .dot-class{
        height: 16px;
        width: 16px;
        border-radius: 8px;
        background: #D8D8D8;
        margin-left: -10px;
        margin-top: 0;
    }
    .active-dot-cls {
        background: #167E71 !important;
        /* margin-top: 0; */
    }

    .rp-main-cls {
        display: flex;
        justify-content: flex-start;
        margin-left: 6px;
    }

}