::root{
	--sds-c-input-color-border: 1px solid #D0D5DD;
	--slds-c-icon-color-foreground: red;
	--slds-c-input-radius-border:0px;
}
.container{
	background: #FFFFFF;
    width: 100%;
    min-height: 100vh;
    display: flex;
    /* gap: 32px; */
    justify-content: center;
    /* flex-direction: column; */
    align-items: center;
    /* padding-bottom: 20px; */
}
.login-container{
	/* background: #FFFFFF; */
    /* width: 100%; */
    /* min-height: 100vh; */
    display: flex;
    gap: 24px;
    justify-content: center;
    /* flex-direction: column; */
    align-items: center;
}
.login-screen{
	font-family:'InventionRg';
	display: flex;
	flex-direction: column;
	gap: 24px;
	border-radius: 16px;
	width: 459px;
	padding: 32px 30px 30px 30px;
}
.login-header{
	font-family:'InventionBd';
	font-weight: 700;
	font-size: 24px;
	line-height: 29px;
}
.lt-input{
	max-width: 480px;
	height: 20px;
}
.lt-button{
	/* background: #5ECCB3;
	border: 1px solid #5ECCB3; */
	background: #00857C;
    border: 1px solid #00857C;
	/* color: #04313B; */
	color: #fff;
	max-width: 459px;
	/* box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.02); */
	/* display: flex;
	flex-direction: column;
	justify-content: center; */
	border-radius: 0;
	align-items: center;
	font-family: 'InventionBd';
	font-size: 14px;
	/* padding: 0px 16px;
	gap: 8px; */
}
.lt-button:hover {
	/* background: #5ECCB3; */
	background: #00857C;
	color:#fff;
}
.login-fpwd{
	font-family: 'InventionBd';
	text-decoration: none;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	color: rgba(0, 0, 0, 0.88) !important;
}

.login-fpwd:hover{
	color: rgba(0, 0, 0, 0.88) !important;
	text-decoration: underline;
}

.header-logo{
	/* width: 214.24px; */
	width: 200px;
	cursor: pointer;
}

.login-error{
	line-height: 17px;
	padding: 12px 16px;
	height: 56px;
	background: rgba(194, 84, 84, 0.1);
	border-radius: 8px;
	font-weight: 400;
	font-size: 16px;
	color: #000000;
}
.success-msg{
	display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px;
    gap: 16px;
    max-width: 480px;
    min-height: 104px;
    background: rgba(77, 183, 119, 0.1);
    flex: none;
    align-self: stretch;
    flex-grow: 0;
	border-radius: 0px;
}
.resend-button{
	font-family: 'InventionBd';
	color: #04313B;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    border-radius: 0px;
	max-width: 459px;
    height: 32px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.02);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 16px;
    gap: 8px;
}
.resend-button:hover{
	background-color: #00857C;
	color: #ffffff;
}
.pill-logo{
	max-width: 530px;
    max-height: 630px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.errormsgtxt{
	line-height: 20px;
    font-weight: 400;
    margin-top: -16px;
    font-family: 'InventionRg';
    font-size: 12px;
    color: #9A151C;
}
.imgmargin{
	top: 10px;
}
@media only screen and (max-width: 600px) {
	.login-screen{
		padding: 0px;
		gap: 24px;
		width: 100%;
	}
	.login-header{
		font-size: 20px;
	}
	.login-container{
		flex-direction: column;
		display: flex;
		gap: 24px;
		justify-content: center;
		padding: 16px;
		/* padding-bottom: 32px; */
	}
	.container{
		min-height: 90vh;
	}
	.pill-logo{
		max-width: 100%;
		width: 530px;
		padding-top: 0px;
		padding-bottom: 0px;
	}
	.header-logo{
		margin-left:0px;
		margin-bottom:24px;
	}
	.lt-input {
    max-width: 100%;
	}
	.lt-button{
		max-width:100% ;
	}
	
}
@media all and (min-width:600px) and (max-width: 800px) {
	.pill-logo{
		max-width: 100%;
	}
	.login-screen{
		max-width: 100%;
	}
	.login-header{
		font-size: 20px;
	}
	.login-container{
		padding: 16px;
	}
	
}
@media only screen and (min-device-width : 800px) and (max-device-width : 1024px) and (orientation : portrait){
	.login-container{
		gap:24px;
		flex-direction: column;
		padding:16px;
		justify-content: flex-start;
	}
	.pill-logo{
		max-width: 470px;
		width: 100%;
		max-height: 232px;
		object-fit: cover;
		padding-top: 0px;
		padding-bottom: 0px;
	}
	.login-screen{
		width: 458px;
		padding: 0px;
	}
}