.dummy{
	color : black;
}
.pbanner {
    position: relative;
}
.pbanner_img{
    height: 309x !important;
    object-fit: cover;
}
.container {
    /*top: -20px;*/
    width: 1128px;
    height: 650px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    margin-top: -100px !important;
    box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: auto;
    background: #FFFFFF;
    display: flex;
    margin-bottom: 80px;
}
.right-panel {
    width: 562px; 
    height: 650px; 
    border-radius: 0 10px 10px 0;
    padding-top: 240px;
    padding-right: 88px;
    padding-left: 88px;
    /* padding: 48px 88px; */
    /* display: flex; */
}
.left-panel {
    width: 566px; 
    height: 650px; 
    background: #F1F9F9; 
    border-radius: 10px 0 0 10px;
}
.img-container {
    width: 564px;
    height: 652px;
    border-radius: 10px 0 0 10px;
}
.imgcls{
	border-radius: 10px 0 0 10px;
}
.learnmore{
	width: 566px;
    height: 205px;
    border-radius: 8px;
    justify-content: flex-start;
    align-items: flex-start;
    /* margin: 40px; */
    /* display: inline-flex; */
    padding: 40px;
}
.learnmarg{
	margin: 40px;
	color: black;
}
.learnhead{
	font-family: Invention;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 27px; 
    color: #333;
}
.learnmatr{
    font-family: Invention;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: #333;
    }
.learnmatr a {
    color:#00857C
}
.welcls{
    color: var(--Gray-Scale-text-dark, #333);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Invention;
	text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 16px;
}   
.welclsmatr{
    color: var(--Gray-Scale-text-dark, #333);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Invention;
	text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 24px;
    width:388px;
    
} 
.homebtn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    color: #FFFFFF;
    background: #00857C;
    border-radius: 5px !important;
    font-family: 'Invention';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px !important;
    width: 386px ;
    height: 50px !important;
    letter-spacing: 0.861539px;
    border-color: #00857C;
    border: none !important;
}
.signnbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    color: #00857C;
    background: #FFFFFF;
    border-radius: 5px !important;
    font-family: 'Invention';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px !important;
    width: 386px ;
    height: 50px !important;
    letter-spacing: 0.861539px;
    border-color: #00857C;
    /* border: none !important; */
    /* border-radius: 5px; */
    border: 1px solid var(--Brand-primary-green, #00857C); 
    margin-bottom: 24px;     
}

	 .logo1{
    display: none !important;
    }
	.logo{
display: block !important;
	}


@media only screen and (max-width: 767px) {
	.pbanner_img{
        height: 140px !important;
        object-fit: cover;
    }
	.right-panel {
        width: auto;
        height: auto;
        padding: 40px 16px 24px 16px;
        
    }
	.left-panel {
		 border-radius: 10px 10px 0 0;
		 width: auto;
		 height: auto;
	}
	.img-container, .img-container img {
        width: auto;
        border-radius: 5px 5px 0 0;
        height: auto;
    }
    .container {
        top: -20px;
        width: auto;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 1;
        margin-top: -100px !important;
        box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        /* margin: auto; */
        background: #FFFFFF;
        display: block;
        margin: 16px;
    }
    .learnmore{
        width: auto;
        height: auto;
        border-radius: 8px;
        justify-content: flex-start;
        align-items: flex-start;
        /* margin: 40px; */
        /* display: inline-flex; */
        padding: 40px 24px 24px 24px;
        background: #F1F9F9;
        margin-bottom: 40px;
    }
    .homebtn{
        width: 100% !important;
    }
    .signnbtn{
        width: 100% !important;
    }
    .learnmob{
        display: none !important;
    }
	 .logo1{
    display: block !important;
	width: auto;
    } 
	.imgcls{
	width: 100% !important;
}
	.logo{
display: none !important;
	}
    .welcls{
        text-align: left;
        font-size: 24px;
        font-family: Invention;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 30px;
    }
.welclsmatr{
    text-align: left;
    font-family: Invention;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
        width: 310px;
}
}