.THIS .slds-p-horizontal_small, .THIS .slds-p-horizontal--small {
    padding-left: 0;
    padding-right: 0;
}
.THIS .listItemBody.withActions {
    margin-right: 0;
}
.THIS .slds-icon-utility-delete {
    cursor: pointer;
}