 .slds-button__icon {
    transition: transform 0.3s ease;
    transform: rotate(-90deg); /* Default state: Arrow points upwards (top) */
}

 .slds-accordion__section.slds-is-open .slds-button__icon {
    transform: rotate(360deg); /* Open state: Arrow points downwards */
}