.emailcls label {
    font-weight: 700;
    font-family: 'Invention';
    font-size: 14px;
}
.emailcls input::placeholder {
    font-family: 'Invention';
    font-size: 14px;   
}
.emailcls input{
    height: 40px;
}
.emailcls input::-ms-reveal{
    display: none;
}