
.librarytab_cls[c-settings_settings] .slds-tabs_default__item[c-settings_settings] {
    padding: 0 0.5rem;
    padding-left: 0px;
}
.librarytab_cls .slds-tabs_default__item {
    position: relative;
    padding: 0 8px;
}
.librarytab_cls .slds-tabs_default__nav {
    border-bottom: 1px solid #A4A4A4;
    display: flex;
}
.librarytab_cls .slds-tabs_default__item.slds-is-active:after {
    background-color: #00857C !important;
    width: 90%;
}
.tabcls .slds-tabs_default__nav {
    border-bottom: 1px solid #A4A4A4;
    display: flex;
    gap: 24px;
}
.tabcls li a {
    color: #00857C !important;
}
.tabcls .slds-tabs_default__item.slds-is-active:after {
    background-color: #00857C !important;
    width: 153px;
    height: 2px;
}
.tabcls .slds-tabs_default__item.slds-is-active:before {
    background-color: #00857C !important;
}
.tabcls .slds-tabs_default__item {
    position: relative;
    /* padding: 0 8px; */
    /* padding-left: 8px;
    padding-right: 8px; */
    padding-top: 0;
    padding-bottom: 0;
}
a, a:link:not(.slds-button,.slds-dropdown__item>a), a:visited:not(.slds-button,.slds-dropdown__item>a) {
    color: var(--dxp-c-link-text-color,var(--dxp-s-link-text-color,var(--dxp-g-brand)));
    background-color: var(--dxp-c-link-color-background);
    text-decoration: none;
    text-decoration-line: none;
    width: 153px;
}
::selection {
    background: var(--dxp-c-selection-color-background,var(--dxp-g-neutral));
    text-shadow: none;
    color: var(--dxp-c-selection-text-color,var(--dxp-g-neutral-contrast));
}
.slds-tabs--default__item.slds-active .slds-tabs--default__link, .slds-tabs--default__item.slds-active .slds-tabs_default__link, .slds-tabs--default__item.slds-is-active .slds-tabs--default__link, .slds-tabs--default__item.slds-is-active .slds-tabs_default__link, .slds-tabs_default__item.slds-active .slds-tabs--default__link, .slds-tabs_default__item.slds-active .slds-tabs_default__link, .slds-tabs_default__item.slds-is-active .slds-tabs--default__link, .slds-tabs_default__item.slds-is-active .slds-tabs_default__link {
    font-weight: 400;
    text-decoration: none;
    font-family: 'Invention';
}
.slds-tabs--default, .slds-tabs_default {
    display: block;
    width: 1080px;
}
.slds-tabs--default__item.slds-active .slds-tabs--default__link:hover, .slds-tabs--default__item.slds-active .slds-tabs_default__link:hover, .slds-tabs--default__item.slds-is-active .slds-tabs--default__link:hover, .slds-tabs--default__item.slds-is-active .slds-tabs_default__link:hover, .slds-tabs_default__item.slds-active .slds-tabs--default__link:hover, .slds-tabs_default__item.slds-active .slds-tabs_default__link:hover, .slds-tabs_default__item.slds-is-active .slds-tabs--default__link:hover, .slds-tabs_default__item.slds-is-active .slds-tabs_default__link:hover {
    color: currentColor;
    width: 153px;
}
.tabcls .slds-tabs_default__item.slds-is-active:after {
    background-color: #00857C !important;
    width: 153px;
    height: 2px;
}
.tabcls .slds-tabs_default__item.slds-is-active::before {
    background-color: #00857C !important;
    width: 153px;
    height: 2px;
}
.slds-tabs--default__nav, .slds-tabs_default__nav {
    border-bottom-color: #A4A4A4;
    display: flex;
    gap: 24px;
}
.slds-tabs--default__item.slds-active, .slds-tabs--default__item.slds-is-active, .slds-tabs_default__item.slds-active, .slds-tabs_default__item.slds-is-active {
    --slds-c-tabs-item-text-color: #00857C;
}
.slds-tabs--default__link, .slds-tabs_default__link {
    color: #00857C;
}
.slds-tabs--default__link, .slds-tabs_default__link {
    max-width: 100%;
    overflow: inherit;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    text-decoration: none;
    text-decoration-line: none;
    cursor: pointer;
    height: var(--slds-c-tabs-item-sizing-height,var(--sds-c-tabs-item-sizing-height,2.5rem));
    line-height: var(--slds-c-tabs-item-line-height,var(--sds-c-tabs-item-line-height,2.5rem));
    color: currentColor;
    border: 0;
    text-transform: inherit;
    font-family: 'Invention';
    font-size: 14px;
    color: #00857C;
}
.slds-tabs--default__item, .slds-tabs_default__item {
    color: #00857C;
    padding-left: 8px;
    padding-right: 8px;
}
.slds-tabs--default__item.slds-active, .slds-tabs--default__item.slds-is-active, .slds-tabs_default__item.slds-active, .slds-tabs_default__item.slds-is-active {
    --slds-c-tabs-item-text-color: #00857C;
    padding-left: 8px;
    padding-right: 8px;
}
.slds-tabs--default__item.slds-active::after, .slds-tabs--default__item.slds-is-active::after, .slds-tabs_default__item.slds-active::after, .slds-tabs_default__item.slds-is-active::after {
    background-color: var(--slds-c-tabs-item-color-border-active,var(--sds-c-tabs-item-color-border-active,var(--dxp-g-brand-1,#1b96ff)));
}
.slds-size--7-of-12, .slds-size_7-of-12 {
    width: 56.5%;
}
.slds-tabs--default__item.slds-active::after, .slds-tabs--default__item.slds-is-active::after, .slds-tabs_default__item.slds-active::after, .slds-tabs_default__item.slds-is-active::after {
    background-color: var(--slds-c-tabs-item-color-border-active,var(--sds-c-tabs-item-color-border-active,var(--dxp-g-brand-1,#1b96ff)));
    width: 153px;
    height: 2px;
}
.slds-form-element__label {
    padding-top: 0;
    font-family: 'Invention';
    font-size: 14px;
    font-weight: 700;
}
.slds-input-has-icon--right .slds-input, .slds-input-has-icon--right .slds-input--bare, .slds-input-has-icon--right .slds-input_bare, .slds-input-has-icon--right .slds-input_faux, .slds-input-has-icon_right .slds-input, .slds-input-has-icon_right .slds-input--bare, .slds-input-has-icon_right .slds-input_bare, .slds-input-has-icon_right .slds-input_faux {
    --slds-c-input-spacing-horizontal-end: 2rem;
    display: flex;
    padding: 9px 12px 10px 12px;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-radius: 4px;
    border: 1px solid var(--neutral-dark-text, #333);
    background: var(--neutral-white, #FFF);
    flex: 1 0 0;
    color: var(--neutral-dark-text, #333);
    font-family: 'Invention';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}
.schedulepg .cls_date .form-control, .slds-input {
    height: 21px;
    background: #FFFFFF !important;
    border: 1px solid #333333;
    border-radius: 4px !important;
}
.slds-listbox--vertical .slds-listbox__option--plain, .slds-listbox--vertical .slds-listbox__option_plain, .slds-listbox_vertical .slds-listbox__option--plain, .slds-listbox_vertical .slds-listbox__option_plain {
    font-family: 'Invention';
}
.schedulepg .cls_date .form-control, .slds-input {
    height: 21px;
    background: #FFFFFF !important;
    border: 1px solid #333333;
    border-radius: 4px !important;
    padding: 9px 12px 10px;
}
.slds-icon--xx-small, .slds-icon_xx-small {
    width: 16px;
    height: 16px;
    line-height: 1;
    color: #000000;
}
.component-wrapper-spacer {
    display: block;
    margin-bottom: 0px;
}
a.slds-tabs_default__link{
    text-decoration: none !important;
}
.schedulepg .cls_date .form-control, .slds-input {
    font-family: 'Invention';
}
@media all and (max-width: 767px) {       
    .tabset-pickList .slds-input__icon-group_right .slds-input__icon_right {
        right: 0.9rem !important;
    }
    .tabset-pickList .slds-icon--xx-small, .slds-icon_xx-small {
        width: 16px;
        height: 16px;
        line-height: 1;
        color: #000000 !important;
    }
}