* {
    font-family: 'Invention';
}

.component-container {
    background-color: #E7E7E7;
    padding: 24px;
}

.pagination-left {
    display: flex;
    align-items: center;
}

.pagination-Right {
    margin-left: auto;
}

.slds-button--brand {
    color: #ffffff;
}

.title {
    margin: 0;
    font-size: 18px;
    line-height: 24px;
    font-family: 'Invention';
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    background: #FFFFFF;
    margin-bottom: 9px;
}

.breadcrumbs {
    padding-bottom: 18px;
}

.breadcrumb1 {
    color: #ADADAD;
    font-family: 'Invention';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    cursor: pointer;
}

.breadcrumb2 {
    color: #070101;
    font-family: 'Invention';
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    margin-left: 6px;
}

.cl-link {
    cursor: pointer;
}

.custom-color {
    color: #00857c !important;
}

.cl-link:hover {
    text-decoration: 2px solid #00857c underline !important;
    cursor: pointer;
}

hr {
    border: 0;
    border-top: 2px solid #d8dde6;
    margin: 20px 0;
}

.pagination-container {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 20px;
    column-gap: 10px;
}

/* .pagination-container lightning-combobox {
    margin-right: 10px;
} */

.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 1fr;
    border: 1px solid #d8dde6;
    border-collapse: collapse;
    font-family: 'Invention';
    background: #FFFFFF;
    margin-bottom: 20px;
}

.grid-header {
    height: 74px;
}

.grid-header,
.grid-row {
    display: contents;
}

.grid-header div,
.grid-row div {
    border-bottom: 1px solid #d8dde6;
    padding: 0.5rem;
    align-items: center;
    height: 74px;
    display: flex;
    color: #202020;
}

.grid-header div {
    font-weight: bold;
    display: flex;
    height: 74px;
    align-items: center;
    gap: 8px;
}

.grid-row:nth-child(even) div {
    background-color: #f9f9f9;
}

.image-preview {
    width: 50px;
    height: 50px;
    object-fit: contain;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-left: 48px;
    margin-right: 112px;
}

.no-collection {
    max-width: 100%;
    text-align: center;
}

.icon-border {
    cursor: pointer;
}

.icon-container {
    display: flex;
    gap: 10px;
}

.sortable-header {
    cursor: pointer;
}

.slds-table {
    border-radius: 5px;
    border: var(--Size-Line-Width-lineWidth, 1px) solid #E4E4E4;
    background: #FFF;
}

.tableCls {
    width: 1034px;
    height: 50px;
    background: #F9F9F9;
}

.headerCls {
    display: flex;
    align-items: start;
    height: 74px;
    justify-content: space-between;
    cursor: pointer;
    background: #fff;
}

.headingCls {
    color: #005C56;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: 'Invention';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    margin-top: 33px;
    margin-left: 16px;
}

.bodyCls {
    width: 334px;
    text-wrap: wrap;
    word-break: break-all;
}

.slds-table thead th {
    color: var(--slds-g-color-neutral-base-30, #444);
    padding: .25rem .5rem;
    font-weight: 700;
    line-height: normal;
    background: #FFF;
}

.containerCls {
    width: 808px;
    height: 568px;
}

.tableCls1 {
    width: 1034px;
    height: 74px;
    background: #F9F9F9;
}

.closeCls {
    width: 24px;
    height: 24px;
    margin-top: 33px;
    margin-right: 4px;
}

.bodyCls1 {
    width: 558px;
    text-wrap: wrap;
    word-break: break-all;
}

.sharedCls {
    text-align: center;
}

@media only screen and (max-width: 480px) {

    .tableCls1 {
        background: #F9F9F9;
        display: flex;
        flex-direction: column;
        padding: 20px;

    }

    .tableCls {
        display: none;
    }

    td,
    th {
        color: var(--color);
        font-size: var(--font-size-scale-base);
        font-weight: var(--font-weight-medium);
        padding: none;
    }

    table {
        --table-background: none !important;
        --table-color: none !important;
        --table-border-color: none !important;
        --table-border-style: none !important;
        --table-border-width: none !important;
        --table-hover: none !important;
        --table-padding: none !important;
        --table-font-weight: none !important;
        --table-th-background: none !important;
        --table-th-font-weight: none !important;
        --table-row-size: none !important;
        border-collapse: none !important;
        width: 100%;
    }
}