.pass_background {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(Blur.png);
    flex: none;
    order: 1;
    flex-grow: 0;
}

.pass_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background: #F4F4F4;
    overflow: hidden;
}

.pass_container {
    background: #FFFFFF;
    border-radius: 8px;
    padding: 40px;
    margin-top: 24px;
    align-self: stretch;
}

.pass_headersec h2 {
    font-family: 'Invention';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000000;
}

.pass_headersec p {
    font-family: 'Invention';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #333333;
    padding-top: 8px;
}

.password {
    padding-top: 32px;
    margin-bottom: 0;
}

.pass_reqsectionmain {
    padding-top: 16px;
    font-family: 'Invention';
}

.pass_reqsection {
    background: #F7F7F7;
    padding: 16px 0px 18px 16px;
}

.pass_reqsection h2 {
    font-family: 'Invention';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
}

.flexdiv {
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.flexdiv1 {
    display: flex;
    align-items: center;
    padding-top: 16px;
}

.flexdiv span,
.flexdiv1 span {
    font-family: 'Invention';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #333333;
}

.closeiconcls {
    margin-right: 7.87px;
    width: 16.25px;
    height: 16.25px;
}

.btnmaincls {
    display: flex;
    justify-content: end;
    padding-top: 16px;
}

.nextbtncls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 16px;
    gap: 20px;
    height: 50px;
    background: #A4A4A4;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: 'Invention';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
}

.btnenablecls {
    background: #00857C !important;
}

.errormsgcls {
    color: #DB281A;
    font-style: normal;
    font-weight: 500;
    font-family: 'Invention';
    font-size: 12px;
    vertical-align: top;
    margin-top: 16px;
}