.slds-input[readonly] {
    border: var(--lwc-borderWidthThin, 1px) solid
        var(--lwc-colorBorderInput, rgb(221, 219, 218));
}

.content {
    height: 300px;
}

.account-header {
    margin: .5vh 0vh .5vh .2vh;
}
.account-search-okay {
    margin-left: 3px;
}