.header-logoerrorMsgs{
	width: 200px;
    margin-right: 60%;
    margin-bottom: 24px;
}
.success-screenerrorMsg{
	background: #fff;
    padding: 56px;
    min-width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.val-error{
	line-height: 20px;
	font-weight: 400;
	margin: -10px 0px -10px 0px;
	font-family: 'InventionRg';
	font-size: 12px;
	color: #9A151C;
}
.header-logoerrorMsg{
	width: 200px;
    margin-left: 4px;
    margin-bottom: 24px;
}
.login-sectionerrorMsg{
	display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    gap: 16px;
    max-width: 480px;
    min-height: 104px;
    background: rgba(77, 183, 119, 0.1);
    flex-grow: 0;
	border-radius: 0px;
	margin-bottom: 24px;
}
.iconCls{
	display: flex;
}
.loginPage{
	padding: 32px 30px 30px 30px;
}
::root{
	--sds-c-input-color-border: 1px solid #D0D5DD;
	--slds-c-icon-color-foreground: red;
}
.login-container{
	width:100%;
	min-height:100vh;
	display: flex;
	background: #ffff;
	gap:26px;
	justify-content: center;
	flex-direction: row;
	align-items: center;
}
.login-section{
	max-width:100%;
	max-height:100%;
	display: flex;
	gap:0px;
	justify-content: center;
	flex-direction: column;
}
.login-cover{
	max-width: 530px;
    max-height: 630px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.login-screen{
	font-family:'InventionRg';
	display: flex;
	flex-direction: column;
	padding: 32px 30px 0px 30px;
	gap: 24px;
	width: 459px;
}
.login-header{
	font-family:'InventionBd';
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
}
.lt-input-container .lt-input{
	height: 20px;
}
.login-fpwd{
	font-family: 'InventionBd';
	text-decoration: none;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	color: rgba(0, 0, 0, 0.88) !important;
}

.login-fpwd:hover{
	color: rgba(0, 0, 0, 0.88) !important;
	text-decoration: underline;
}

.header-logo{
	/* object-fit: contain; */
 	width: 200px;
    /* height: 32px; */
	margin-left:30px;
	cursor: pointer;
}

.login-error{
	padding: 16px;
	background: rgba(194, 84, 84, 0.1);
	border-radius: 8px;
	font-weight: 400;
	font-size: 16px;
	color: #000000;
}
.validation-header{
	font-family:'InventionBd';
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	padding-bottom:16px;
}
.validation-check{
	width: 100%;
	background: #F4FAF8;
	padding: 24px 24px 16px 24px;
}
.validation-check li{
	color: rgba(0, 0, 0, 0.65);
	font-size: 14px;
	font-family: 'InventionRg';
	margin-bottom: 8px;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8px;
}
.active-vc{
	color: rgba(0, 0, 0, 0.88) !important;
}
.invalid-message{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px;
	margin: 20px;
	font-family:'InventionBd';
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	background: rgba(194, 84, 84, 0.1);
}
.invalid-section{
	width:100%;
	height: 100%;
	min-height: 85vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}
.success-container{
	background: #fff;
    display: flex;
	height: 100%;
	min-height: 85vh;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
}
.success-screen{
	background: #fff;
	padding: 56px;
	min-width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.success-header{
	font-family: 'InventionRg';
	color: #000000E0;
	font-size: 16px;
	line-height: 20px;
	padding: 20px;
}
.success-button{
	height: 40px;
	min-width: 200px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.upload-icon{
	--slds-c-icon-color-foreground-default: #00857C;
	margin-bottom: 16px;
}

@media only screen and (max-width: 600px) {
	.login-screen{
		padding: 0px;
		gap: 24px;
		width: 100%;
	}
	.login-container{
		gap:24px;
		flex-direction: column;
		padding:16px;
		align-items: normal;
	}
	.login-cover{
		min-width: 200px;
		width: 100%;
		padding-top: 0px;
		padding-bottom: 0px;
	}
	.header-logo{
		margin-left:0px;
		margin-bottom:24px;
	}
	.success-screen{
		text-align: center;
		padding: 24px;
		margin: 20px;
	}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait){
	.login-container{
		gap:24px;
		flex-direction: column;
		padding:16px;
		justify-content: center;
		padding-top:56px;
	}
	.login-cover{
		min-width: 200px;
		max-width: 470px;
		width: 100%;
		max-height: 232px;
		object-fit: cover;
		padding-top: 0px;
		padding-bottom: 0px;
	}
	.login-screen{
		width: 458px;
		padding: 0px;
	}
	.login-section{
	gap: 24px;
	}
	.header-logo{
		margin-left: 0px;
	}
}

@media only screen and (min-device-width : 320px) and (max-device-width : 1000px) {
	.success-screenerrorMsg{
    background: #fff;
    padding: 56px;
    min-width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    flex-direction: column;
}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 965px) {

	.login-cover{
		width: 100%;
        object-fit: cover;
        padding-top: 0px;
        padding-bottom: 0px;
        max-width: 469px;
        max-height: 630px;
	}

}

@media only screen and (min-device-width : 320px) and (max-device-width : 500px) {

	.header-logoerrorMsgs{
	width: 200px;
    margin-right: 8%;
    margin-bottom: 24px;
}


}