.container {
    width: 100%;
    height: 100vh;
    background-color: #F8F5F2;
    padding-top: 85px;
}

.centercls {
    display: flex;
    justify-content: center;
}

.headercls h2 {
    color: #000;
    text-align: center;
    font-size: 36px;
    font-family: 'Invention';
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
}

.headercls p {
    color: #333333;
    text-align: center;
    font-size: 16px;
    font-family: 'Invention';
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.bodycls {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.15);
    padding: 32px;
    margin-top: 40px;
    margin-bottom: 40px;
    min-width: 524px;
}

.footercls {
    text-align: center;
    font-family: 'Invention';
}

.footercls p, .confirmfootercls p {
    color: #333;
    text-align: center;
    font-size: 14px;
    font-family: 'Invention';
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}

.confirmfootercls {
    padding-top: 40px;
    text-align: center;
    font-family: 'Invention';
}

.resetbutton {
    text-align: center;
    margin-top: 32px;
}

.resetbtn {
    border-radius: 5px;
    background: #00857C;
    color: white;
    padding: 16px;
    font-family: 'Invention';
    border: none;
    height: 50px;
    font-size: 14px;
}

.merckimg {
    margin-top: 40px;
}

.link {
    margin-top: 16px;
}

.link a {
    color: #00857C;
    text-align: center;
    font-size: 14px;
    font-family: 'Invention';
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    text-decoration-line: underline;
}

.emailadd {
    margin-top: 15px;
}

.emailadd p span{
    text-decoration: underline;
}

.sendnewlk {
    text-decoration: none;
    font-family: 'Invention';
    font-style: normal;
    color: #00857C;
    cursor: pointer;
}

.errormsgtxt {
    font-size: 12px;
    font-family: 'Invention';
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    color: #DB281A;
    padding-top: 4px;
}

.confirmpagecls {
    min-width: 575px;
}

.emailcls {
    margin-bottom: 0px;
}
.job {
	text-align: end;
    font-size: 14px;
    font-family: 'Invention';
	position: fixed; 
    bottom:0%;
    width:100%;
	padding-right: 24px;
	padding-bottom: 24px;
}
@media screen and (max-width: 767px) {
    .bodycls {
        width: auto;
        margin-left: 16px;
        margin-right: 16px;
        min-width: 0 !important;
    }
    .confirmpagecls {
        min-width: 0 !important;
    }
       .job{
	    position: inherit !important;
	}
}