.progress-container{
  display: flex;
  align-items: center;
  padding: 10px 0 15px 0;
  flex-wrap: wrap;
  margin-top: 1%;
}
.progress-step{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 83px;
  position: relative;
  font-family: 'InventionRg';
}
.progress-circle.completed {
  background-color: #757575;
  border-color: #757575;
  color: white;
}
.progress-circle{
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 1px solid #CFD2D7;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 60px;
}
.step-number{
  font-size: 14px;
  font-weight: bold;
}
.progress-step:not(:last-child) .progress-circle.completed::after {
  background-color: #00857C;
}
.progress-step:not(:last-child) .progress-circle::after {
  content: '';
  height: 1px;
  width: 60px;
  background-color: #CFD2D7;
  position: absolute;
  right: -30px;
}
.progress-label {
  margin-top: 32px;
  font-size: 12px;
  text-align: center;
  color: #757575;
  width: 90%;
  position: absolute;
}
.progress-step .step-label {
  font-size: 12px;
}
.active-label {
  color: #00857C !important;
}
.progress-circle.active {
  background-color: #00857C;
  border-color: #00857C;
  color: white;
}

.mTitle {
  color: #0C2340;
  font-family: 'InventionLt';
  font-weight: 600;
  font-size: 30px;
  padding: 20px 0 16px 32px !important;
}

.imptext {
  background: #CFD2D7;
  font-size: 18px;
  color: #000000;
  font-family: 'InventionRg';
  padding: 16px 32px;
}

@media only screen and (min-width:1350px) {
  .progress-circle{
    margin: 0 70px;
  }
  .progress-label{
    width: 95%;
  }
  .progress-step:not(:last-child) .progress-circle::after {
    width: 95px;
    right: -44px;
  }
}
@media only screen and (min-width: 919px) and (max-width: 1126px) {
  .progress-circle{
    margin: 0 45px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 918px) {
  .progress-circle{
    width: 24px;
    height: 24px;
    margin: 0 42px;
  }
  .progress-label{
    font-size: 11px;
    width: 100%;
  }
  .step-number{
    font-size: 12px;
  }
}
@media only screen and (max-width: 599px) {
  .progress-circle{
    width: 20px;
    height: 20px;
    margin: 0 27px;
  }

  .MainFormClip {
  clip-path: polygon(0% 0%, 0% 0%, 100% 0%, 100% 0%, 100% calc(100% - 6.06rem), calc(100% - 9.56rem) 99.9%, 0px 99.9%, 0% 100%);
}

.formClip {
  clip-path: polygon(0% 0%, 0% 0%, 100% 0%, 100% 0%, 100% calc(100% - 84px), calc(100% - 134px) 100%, 0px 100%, 0% 100%);
}
  .step-number{
    font-size: 10px;
  }
  .progress-label{
    margin-top: 22px;
    font-size: 10px;
    width: 94%;
  }
  .progress-step:not(:last-child) .progress-circle::after {
    width: 43px;
    right: -21px;
  }

  .mTitle{
    color: #0C2340;
    font-family: 'InventionLt';
    font-weight: 600;
    font-size: 18px;
    padding: 16px 0 12px 16px !important;
  }
  .imptext {
    background: #CFD2D7;
    font-size: 16px;
    color: #000000;
    font-family: 'InventionRg';
    padding: 8px 16px;
  }
}

.cmp {
  padding: 13px 0 45px 13px;
}

.custom-css {
  --lwc-progressBarColorBackgroundFill: #00857C;
}

.MainformCls {
  height: 100%;
  width: 100%;
  position: relative;
  background: #CFD2D7;
  /* clip-path: polygon(0% 0%, 0% 0%, 100% 0%, 100% 0%, 100% calc(100% - 6.06rem), calc(100% - 9.56rem) 99.9%, 0px 99.9%, 0% 100%); */
}

.MainFormClip {
  clip-path: polygon(0% 0%, 0% 0%, 100% 0%, 100% 0%, 100% calc(100% - 6.06rem), calc(100% - 9.56rem) 99.9%, 0px 99.9%, 0% 100%);
}

.formCls {
  background: #F7F7F7 !important;
  height: 99.9%;
  min-height: 30rem;
  /* clip-path: polygon(0% 0%, 0% 0%, 100% 0%, 100% 0%, 100% calc(100% - 84px), calc(100% - 134px) 100%, 0px 100%, 0% 100%); */
  padding-bottom: 8px;
}

.formClip {
  clip-path: polygon(0% 0%, 0% 0%, 100% 0%, 100% 0%, 100% calc(100% - 84px), calc(100% - 134px) 100%, 0px 100%, 0% 100%);
}

.divisionCls {
  width: 100%;
}

.Triangle {
  clip-path: polygon(100% 100%, 100% 0, 0 100%);
  background: #00857C !important;
  width: 8.783rem;
  height: 5.486rem;
  position: absolute;
  bottom: 0%;
  right: 0%;
}

.parentclass {
  position: relative;
  height: 100%;
  width: 92%;
  margin: auto;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.09), 0px 3px 10px rgba(0, 0, 0, 0.1);
}

.align {
  margin-top: 2%;
  width: 130%;
  margin-left: -17%;
}


.button_slide {
  color: #00857C;
  /* Text color set to #00857C */
  border: 1px solid #00857C;
  background: #FFF;
  /* Background color set to white */
  display: inline-block;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #00857C;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
  height: 32px;
  width: 72px;
}

.slide_right:hover {
  box-shadow: inset 400px 0 0 0 #00857C;
  color: #FFF;
  /* Text color changes to white on hover */
}

/* Additional Styles for positioning and spacing */
.button-group {
  position: absolute;
  right: 182px;
  /* Adjust this value to change the distance from the right side */
  bottom: 30px;
  /* Adjust this value to change the distance from the bottom */
}

.button_slide+.button_slide {
  margin-left: 10px;
  /* Spacing between buttons */
}

@media only screen and (min-width: 1366px) and (max-width: 1919px) {
  .formCls {
    height: 99.9%;
  }
  .formClip {
    clip-path: polygon(0% 0%, 0% 0%, 100% 0%, 100% 0%, 100% calc(100% - 84px), calc(100% - 134px) 100%, 0px 100%, 0% 100%);
  }
  .MainformCls {
    /* clip-path: polygon(0% 0%, 0% 0%, 100% 0%, 100% 0%, 100% calc(100% - 6.06rem), calc(100% - 9.56rem) 99.9%, 0px 99.9%, 0% 100%); */
  }
  .MainFormClip {
    clip-path: polygon(0% 0%, 0% 0%, 100% 0%, 100% 0%, 100% calc(100% - 6.06rem), calc(100% - 9.56rem) 99.9%, 0px 99.9%, 0% 100%);
  }
  .Triangle {
    width: 8.783rem;
    height: 5.486rem;
  }
  .imptext {
    color: #000000;
    font-size: 18px;
    font-family: 'InventionRg';
    padding: 16px 32px !important;
  }
}

.button_slide {
  color: #00857C;
  /* Text color set to #00857C */
  border: 1px solid #00857C;
  background: #FFF;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #00857C;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
  height: 32px;
  width: 72px;
}

.slide_right:hover {
  box-shadow: inset 400px 0 0 0 #00857C;
  color: #FFF;
}

/* Additional Styles for positioning and spacing */
.button-group {
  position: absolute;
  right: 182px;
  /* Adjust this value to change the distance from the right side */
  bottom: 30px;
  /* Adjust this value to change the distance from the bottom */
}

.button_slide+.button_slide {
  margin-left: 10px;
  /* Spacing between buttons */
}

@media only screen and (max-width: 639px) {

  .formClip {
    clip-path: polygon(0% 0%, 0% 0%, 100% 0%, 100% 0%, 100% calc(100% - 70px), calc(100% - 106px) 100%, 0px 100%, 0% 100%);
  }
  .MainFormClip {
    clip-path: polygon(0% 0%, 0% 0%, 100% 0%, 100% 0%, 100% calc(100% - 5.06rem), calc(100% - 7.56rem) 99.9%, 0px 99.9%, 0% 100%);
  }
  .Triangle {
    width: 6.783rem;
    height: 4.486rem;
  }
}