.reschedule-slot-height {
    min-height: 300px;
}

.error-alert,
.warning-alert {
    display: flex;
    justify-content: center;
    border-radius: 2px;
    padding: 10px 0;
    margin-bottom: 5px;
}

.error-alert:last-child,
.warning-alert:last-child {
    margin-bottom: 10px;
}

.modal-content__container {
  position: relative;
}

.disabled-overlay {
  background-color: var(--lwc-colorBackgroundAlt, rgb(255, 255, 255));
  bottom: 0;
  left: 0;
  opacity: 0.8;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}